Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

feat(ec2-alpha): add Transit Gateway L2 (#32956)
  packages/@aws-cdk/aws-ec2-alpha/README.md
  packages/@aws-cdk/aws-ec2-alpha/awslint.json
  packages/@aws-cdk/aws-ec2-alpha/lib/index.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-association.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-attachment.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table-association.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table-propagation.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-vpc-attachment.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/util.ts
  packages/@aws-cdk/aws-ec2-alpha/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/aws-cdk-ec2-alpha-transit-gateway-disable-automatic-settings.assets.json
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/aws-cdk-ec2-alpha-transit-gateway-disable-automatic-settings.template.json
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/cdk.out
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/integ.json
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/integtestmodelDefaultTestDeployAssertCF40BD53.assets.json
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/integtestmodelDefaultTestDeployAssertCF40BD53.template.json
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/manifest.json
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.js.snapshot/tree.json
  packages/@aws-cdk/aws-ec2-alpha/test/integ.transit-gateway.ts
  packages/@aws-cdk/aws-ec2-alpha/test/transit-gateway-route-table-association.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/transit-gateway-route-table-propagation.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/transit-gateway-route-table.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/transit-gateway-route.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/transit-gateway-vpc-attachment.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/transit-gateway.test.ts
Due: none

Fix add to resource policy in TableV2
  packages/aws-cdk-lib/aws-dynamodb/lib/table-v2.ts
Due: none

feat: update property type
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics2.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics2.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.ts
  packages/aws-cdk-lib/aws-cognito/README.md
  packages/aws-cdk-lib/aws-cognito/lib/user-pool-client.ts
  packages/aws-cdk-lib/aws-cognito/test/user-pool-client.test.ts
Due: none

Fix add to resource policy in Table
  packages/aws-cdk-lib/aws-dynamodb/lib/table.ts
Due: none

feat: update L1 CloudFormation resource definitions Updates the L1 CloudFormation resource definitions with the latest changes from `@aws-cdk/aws-service-spec`
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/spec2cdk/package.json
  yarn.lock
Due: none

fix: import order
  packages/aws-cdk-lib/aws-cognito/lib/user-pool-client.ts
Due: none

fix: configureAnalytics method
  packages/aws-cdk-lib/aws-cognito/lib/user-pool-client.ts
Due: none

fix: README.md
  packages/aws-cdk-lib/aws-cognito/README.md
Due: none

docs: update table comment
  packages/aws-cdk-lib/aws-cognito/README.md
Due: none

fix: README
  packages/aws-cdk-lib/aws-cognito/README.md
Due: none

extend event bus scope
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.ts
  packages/aws-cdk-lib/aws-ses/README.md
  packages/aws-cdk-lib/aws-ses/lib/configuration-set-event-destination.ts
  packages/aws-cdk-lib/aws-ses/test/configuration-set-event-destination.test.ts
Due: none

test: update integ test
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics2.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/IntegUserPoolClientAnalytics2.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-client-analytics.js.snapshot/tree.json
Due: none

Fix cyclic dependency
  packages/aws-cdk-lib/aws-dynamodb/lib/table.ts
  packages/aws-cdk/lib/cli/parse-command-line-arguments.ts
Due: packages/aws-cdk

Remove error cli arg
  packages/aws-cdk/lib/cli/parse-command-line-arguments.ts
Due: packages/aws-cdk

fix: editing more tests to match
  packages/aws-cdk-lib/aws-certificatemanager/test/dns-validated-certificate.test.ts
  packages/aws-cdk-lib/aws-codepipeline-actions/test/pipeline.test.ts
  packages/aws-cdk-lib/aws-dynamodb/test/dynamodb.test.ts
  packages/aws-cdk-lib/aws-ecs/test/cluster.test.ts
  packages/aws-cdk-lib/aws-events-targets/test/aws-api/aws-api.test.ts
  packages/aws-cdk-lib/aws-secretsmanager/test/rotation-schedule.test.ts
  packages/aws-cdk-lib/aws-stepfunctions-tasks/test/emrcontainers/start-job-run.test.ts
  packages/aws-cdk-lib/aws-stepfunctions-tasks/test/lambda/call-aws-service-cross-region.test.ts
Due: none

fix README
  packages/aws-cdk-lib/aws-ses/README.md
Due: none

refactor(cli): localize SDK tracing
  packages/aws-cdk/lib/api/aws-auth/sdk-logger.ts
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/aws-auth/tracing.ts
  packages/aws-cdk/lib/cli/cli.ts
  packages/aws-cdk/lib/legacy-exports-source.ts
  packages/aws-cdk/lib/util/tracing.ts
  packages/aws-cdk/test/api/aws-auth/sdk-logger.test.ts
Due: packages/aws-cdk

Add permissions for index as well
  packages/aws-cdk-lib/aws-dynamodb/lib/table.ts
Due: none

chore(toolkit): capture all output from an app (#33259)
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/exec.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/source-builder.ts
  packages/@aws-cdk/toolkit/lib/api/io/private/codes.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/test/_fixtures/console-output/app.js
  packages/@aws-cdk/toolkit/test/_fixtures/validation-error/app.js
  packages/@aws-cdk/toolkit/test/api/cloud-assembly/source-builder.test.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  yarn.lock
Due: packages/aws-cdk

chore: remove unit and integ test for analytics metadata
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/cdkmetadatatestingexample1DefaultTestDeployAssert8073CA62.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/cdkmetadatatestingexample1DefaultTestDeployAssert8073CA62.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/metadata-testing-example.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/metadata-testing-example.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.ts
  packages/aws-cdk-lib/core/test/metadata-resource.test.ts
  packages/aws-cdk-lib/core/test/private/runtime-info.test.ts
Due: packages/aws-cdk-lib/core

chore: remove unit and integ test for analytics metadata (#33278)
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/cdkmetadatatestingexample1DefaultTestDeployAssert8073CA62.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/cdkmetadatatestingexample1DefaultTestDeployAssert8073CA62.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/metadata-testing-example.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/metadata-testing-example.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.construct-metadata.ts
  packages/aws-cdk-lib/core/test/metadata-resource.test.ts
  packages/aws-cdk-lib/core/test/private/runtime-info.test.ts
Due: packages/aws-cdk-lib/core

feat: update L1 CloudFormation resource definitions (#33272)
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/spec2cdk/package.json
  yarn.lock
Due: none

chore(ecs): mark TaskDefinition inferenceAccelerators as deprecated (#33248)
  packages/aws-cdk-lib/aws-ecs/lib/base/task-definition.ts
Due: none

feat(msk): support ServerlessCluster (#32780)
  packages/@aws-cdk/aws-msk-alpha/README.md
  packages/@aws-cdk/aws-msk-alpha/awslint.json
  packages/@aws-cdk/aws-msk-alpha/lib/cluster.ts
  packages/@aws-cdk/aws-msk-alpha/lib/index.ts
  packages/@aws-cdk/aws-msk-alpha/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/cdk.out
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/integ.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/manifest.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/msk-serverless-stack.assets.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/msk-serverless-stack.template.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/mskserverlessintegDefaultTestDeployAssertDD46F007.assets.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/mskserverlessintegDefaultTestDeployAssertDD46F007.template.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/tree.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.ts
  packages/@aws-cdk/aws-msk-alpha/test/serverless-cluster.test.ts
Due: none

chore: enable GitHub workflow for Metadata updater
  .github/workflows/analytics-metadata-updater.yml
Due: none
