Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

feat: update L1 CloudFormation resource definitions Updates the L1 CloudFormation resource definitions with the latest changes from `@aws-cdk/aws-service-spec`
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/spec2cdk/package.json
  yarn.lock
Due: none

feat: update L1 CloudFormation resource definitions (#32726)
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/spec2cdk/package.json
  yarn.lock
Due: none

add testing
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/test/api/logs/cli-logging.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

fix lint problems
  packages/aws-cdk/test/api/logs/cli-logging.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

add more unit test cases
  packages/@aws-cdk/aws-redshift-alpha/lib/private/database-query.ts
  packages/@aws-cdk/aws-redshift-alpha/lib/user.ts
  packages/@aws-cdk/aws-redshift-alpha/test/database-query.test.ts
Due: none

better comments
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
Due: packages/aws-cdk

test: update integration tests to include metafile & tsconfig path
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.ts
  packages/@aws-cdk/cli-lib-alpha/THIRD_PARTY_LICENSES
  packages/@aws-cdk/custom-resource-handlers/package.json
  packages/@aws-cdk/cx-api/.gitignore
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/region-info/.gitignore
  packages/@aws-cdk/region-info/package.json
  packages/aws-cdk/lib/cli-arguments.ts
  packages/aws-cdk/lib/convert-to-cli-args.ts
  packages/aws-cdk/lib/parse-command-line-arguments.ts
Due: packages/aws-cdk

lint fixes
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
Due: packages/aws-cdk

remove auto generated feature flag file
  packages/@aws-cdk/integ-runner/lib/recommended-feature-flags.json
Due: none

feat(codebuild): add new environment types
  packages/aws-cdk-lib/aws-codebuild/lib/environment-type.ts
  packages/aws-cdk-lib/aws-codebuild/test/fleet.test.ts
Due: none

revert feature flags
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
Due: none

feat(custom-resource): support security group
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-vpc.ts
  packages/aws-cdk-lib/custom-resources/README.md
  packages/aws-cdk-lib/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts
  packages/aws-cdk-lib/custom-resources/test/aws-custom-resource/aws-custom-resource.test.ts
Due: none

feat(codebuild): add new environment types (#32729)
  packages/aws-cdk-lib/aws-codebuild/lib/environment-type.ts
  packages/aws-cdk-lib/aws-codebuild/test/fleet.test.ts
Due: none

chore(release): 2.174.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Due: none

update changelog
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
Due: none

Update packages/aws-cdk-lib/aws-synthetics/lib/code.ts
  packages/aws-cdk-lib/aws-synthetics/lib/code.ts
Due: none

refactor validation
  packages/aws-cdk-lib/aws-synthetics/lib/code.ts
Due: none

update comments
  packages/aws-cdk-lib/aws-synthetics/lib/code.ts
Due: none

feat(custom-resource): add serviceTimeout property for custom resources (#30911)
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/asset.58b00a04670a58e0a99d0ca363cd2c6449822eb21c94bc5d3ca25a4816b69098/__entrypoint__.js
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/asset.58b00a04670a58e0a99d0ca363cd2c6449822eb21c94bc5d3ca25a4816b69098/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/custom-resource-test-service-timeout.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/custom-resource-test-service-timeout.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/customresourcetestservicetimeoutintegtestDefaultTestDeployAssert8F844874.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/customresourcetestservicetimeoutintegtestDefaultTestDeployAssert8F844874.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudformation/test/integ.core-custom-resources-service-timeout.ts
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/CreateParameterServiceTimeoutStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/CreateParameterServiceTimeoutStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/GetParameterServiceTimeoutStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/GetParameterServiceTimeoutStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/asset.9e8936ba1db43e0919ba2fc8265d50686eeaca82830c471ff8b7b0672c5970ec/index.js
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/awscdkcustomresourcesservicetimeoutintegtestDefaultTestDeployAssert593A6038.assets.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/awscdkcustomresourcesservicetimeoutintegtestDefaultTestDeployAssert593A6038.template.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/custom-resources/test/aws-custom-resource/integ.aws-custom-resource-service-timeout.ts
  packages/aws-cdk-lib/core/README.md
  packages/aws-cdk-lib/core/lib/custom-resource.ts
  packages/aws-cdk-lib/core/test/custom-resource.test.ts
  packages/aws-cdk-lib/custom-resources/README.md
  packages/aws-cdk-lib/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts
  packages/aws-cdk-lib/custom-resources/test/aws-custom-resource/aws-custom-resource.test.ts
Due: packages/aws-cdk-lib/core

Add API Key
  packages/@aws-cdk/aws-location-alpha/lib/api-key.ts
  packages/@aws-cdk/aws-location-alpha/lib/index.ts
  packages/@aws-cdk/aws-location-alpha/test/api-key.test.ts
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/ApiKeyTestDefaultTestDeployAssert140AB0A3.assets.json
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/ApiKeyTestDefaultTestDeployAssert140AB0A3.template.json
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/cdk-integ-location-api-key.assets.json
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/cdk-integ-location-api-key.template.json
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/cdk.out
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/integ.json
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/manifest.json
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.js.snapshot/tree.json
  packages/@aws-cdk/aws-location-alpha/test/integ.api-key.ts
  packages/@aws-cdk/integ-runner/lib/recommended-feature-flags.json
Due: none

chore(release): 2.174.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
  version.v2.json
Due: none

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
