Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

everything
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/aws-cdk/lib/api/bootstrap/deploy-bootstrap.ts
  packages/aws-cdk/lib/api/deployments/deployments.ts
  packages/aws-cdk/lib/api/environment-access.ts
  packages/aws-cdk/lib/api/environment-resources.ts
  packages/aws-cdk/lib/api/garbage-collection/garbage-collector.ts
  packages/aws-cdk/lib/api/logs/find-cloudwatch-logs.ts
  packages/aws-cdk/lib/api/toolkit-info.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/test/api/bootstrap/bootstrap2.test.ts
  packages/aws-cdk/test/api/deployments/assets.test.ts
  packages/aws-cdk/test/api/deployments/cloudformation-deployments.test.ts
  packages/aws-cdk/test/api/deployments/deploy-stack.test.ts
  packages/aws-cdk/test/api/environment-resources.test.ts
  packages/aws-cdk/test/api/garbage-collection.test.ts
  packages/aws-cdk/test/api/logs/find-cloudwatch-logs.test.ts
  packages/aws-cdk/test/diff.test.ts
Due: packages/aws-cdk

refactor: comment boolean default, simplify default behavior
  packages/aws-cdk-lib/aws-events-targets/lib/log-group.ts
Due: none

feat(cloudtrail): throw `ValidationErrors` instead of untyped Errors
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-cloudtrail/lib/cloudtrail.ts
Due: none

fixup
  packages/aws-cdk/lib/api/deployments/assets.ts
  packages/aws-cdk/test/api/deployments/cloudformation-deployments.test.ts
Due: packages/aws-cdk

feat(cloudwatch): throw `ValidationErrors` instead of untyped Errors
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-cloudwatch/lib/alarm.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/composite-alarm.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/dashboard.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/graph.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/log-query.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/metric.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/private/metric-util.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/private/rendering.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/variable.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/widget.ts
Due: none

bring over some code from aws-cdk
  packages/@aws-cdk/toolkit/lib/actions/bootstrap/index.ts
  packages/@aws-cdk/toolkit/lib/actions/bootstrap/private/helpers.ts
  packages/@aws-cdk/toolkit/lib/actions/bootstrap/private/index.ts
  packages/@aws-cdk/toolkit/lib/api/aws-cdk.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/test/actions/bootstrap.test.ts
  packages/@aws-cdk/toolkit/test/util/aws-cdk.ts
Due: none

fix workflows
  .github/workflows/analytics-metadata-updater.yml
  .github/workflows/lambda-runtime-tests.yml
Due: none

fix: ??
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/eks/integ.call.js.snapshot/asset.572dd2416e786aa13287a5bcd2330ca9b49d9bb7403340990da8b466445db001/index.js
Due: none

fix: removing trailing return line
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/eks/integ.call.js.snapshot/asset.572dd2416e786aa13287a5bcd2330ca9b49d9bb7403340990da8b466445db001/index.js
Due: none

Adding contributor council update along with modification to governance capabilities update
  ROADMAP.md
Due: none

Minor correction, adding link to rfc for CC
  ROADMAP.md
Due: none

fix: this space is literally in the current cdk integ that is live, but only now codeql is yelling at me
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/eks/integ.call.js.snapshot/asset.572dd2416e786aa13287a5bcd2330ca9b49d9bb7403340990da8b466445db001/index.js
Due: none

Update ROADMAP.md
  ROADMAP.md
Due: none

fix: who knows anymore
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/eks/integ.call.js.snapshot/asset.572dd2416e786aa13287a5bcd2330ca9b49d9bb7403340990da8b466445db001/index.js
Due: none

update annotation
  packages/aws-cdk-lib/aws-s3/lib/bucket.ts
Due: none

feat(stepfunctions-tasks): allow region override in call-rest-api task (#33252)
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/CallRestApiInteg-ApiStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/CallRestApiInteg-ApiStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/CallRestApiInteg-SfnStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/CallRestApiInteg-SfnStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/asset.bbfb567dc956ce71e67ac1f96589821990e2ca48307b93a577bbb345d2de441b/__entrypoint__.js
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/asset.bbfb567dc956ce71e67ac1f96589821990e2ca48307b93a577bbb345d2de441b/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/asset.d6fa38886a871b64de769ec5016af90a071e6429aa8e7de84f595e4e2462e17d/__entrypoint__.js
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/asset.d6fa38886a871b64de769ec5016af90a071e6429aa8e7de84f595e4e2462e17d/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/callrestapicrossregionDefaultTestDeployAssert2A1021D3.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/callrestapicrossregionDefaultTestDeployAssert2A1021D3.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api-cross-region.ts
  packages/aws-cdk-lib/aws-stepfunctions-tasks/README.md
  packages/aws-cdk-lib/aws-stepfunctions-tasks/lib/apigateway/call-rest-api.ts
  packages/aws-cdk-lib/aws-stepfunctions-tasks/test/apigateway/call-rest-api.test.ts
Due: none

feat(certificatemanager): throw `ValidationErrors` instead of untyped Errors (#33440)
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-certificatemanager/lib/certificate.ts
  packages/aws-cdk-lib/aws-certificatemanager/lib/dns-validated-certificate.ts
Due: none

chore: fix yarn upgrade causing dependency incompatibility (#33454)
  package.json
  tools/@aws-cdk/cdk-build-tools/package.json
Due: none

chore: fix workflows (#33457)
  .github/workflows/analytics-metadata-updater.yml
  .github/workflows/lambda-runtime-tests.yml
Due: none

fix: adding tab space
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions-tasks/test/eks/integ.call.js.snapshot/asset.572dd2416e786aa13287a5bcd2330ca9b49d9bb7403340990da8b466445db001/index.js
Due: none

chore(aspects): fix missing default priorities
  packages/aws-cdk-lib/core/lib/tag-aspect.ts
Due: packages/aws-cdk-lib/core

fix(logs): DataProtectionPolicy uppercase template key
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/LogGroupIntegDefaultTestDeployAssertA9999A13.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/aws-cdk-log-group-integ.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/aws-cdk-log-group-integ.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.ts
  packages/aws-cdk-lib/aws-logs/lib/data-protection-policy.ts
  packages/aws-cdk-lib/aws-logs/lib/log-group.ts
  packages/aws-cdk-lib/aws-logs/test/loggroup.test.ts
Due: none

#33333 upgrade cloudformation client
  packages/@aws-cdk-testing/cli-integ/package.json
  packages/@aws-cdk/cli-lib-alpha/THIRD_PARTY_LICENSES
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/toolkit/package.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/package.json
  yarn.lock
Due: packages/aws-cdk

#33333 WIP - implementation of cloudformation stack refactoring
  packages/aws-cdk/CONTRIBUTING.md
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
  packages/aws-cdk/lib/api/deployments/deployments.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/lib/cli/cli-config.ts
  packages/aws-cdk/lib/cli/cli.ts
  packages/aws-cdk/lib/cli/convert-to-user-input.ts
  packages/aws-cdk/lib/cli/parse-command-line-arguments.ts
  packages/aws-cdk/lib/cli/user-configuration.ts
  packages/aws-cdk/lib/cli/user-input.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
Due: packages/aws-cdk

chore: npm-check-updates && yarn upgrade Ran npm-check-updates and yarn upgrade to keep the `yarn.lock` file up-to-date.
  package.json
  packages/@aws-cdk-testing/cli-integ/package.json
  packages/@aws-cdk-testing/framework-integ/package.json
  packages/@aws-cdk/aws-custom-resource-sdk-adapter/package.json
  packages/@aws-cdk/aws-eks-v2-alpha/package.json
  packages/@aws-cdk/aws-glue-alpha/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/custom-resource-handlers/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/integ-runner/THIRD_PARTY_LICENSES
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/integ-tests-alpha/package.json
  packages/@aws-cdk/toolkit/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/lib/init-templates/app/typescript/package.json
  packages/aws-cdk/lib/init-templates/lib/typescript/package.json
  packages/aws-cdk/lib/init-templates/sample-app/typescript/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cdk-release/package.json
  tools/@aws-cdk/construct-metadata-updater/package.json
  tools/@aws-cdk/lambda-integration-test-updater/package.json
  tools/@aws-cdk/lazify/package.json
  tools/@aws-cdk/node-bundle/package.json
  tools/@aws-cdk/pkglint/package.json
  tools/@aws-cdk/prlint/package.json
  tools/@aws-cdk/spec2cdk/package.json
  tools/@aws-cdk/user-input-gen/package.json
  tools/@aws-cdk/yarn-cling/package.json
  yarn.lock
Due: packages/aws-cdk

fix(cli): old setTimeout remains and is not cleared
  packages/aws-cdk/lib/api/garbage-collection/stack-refresh.ts
Due: packages/aws-cdk

Apply stack perm boundary to ref-time custom resources
  packages/aws-cdk-lib/core/lib/custom-resource-provider/custom-resource-provider-base.ts
  packages/aws-cdk-lib/core/lib/stack.ts
  packages/aws-cdk-lib/core/test/custom-resource-provider/custom-resource-provider.test.ts
Due: packages/aws-cdk-lib/core

install git lfs on dev container
  .devcontainer/Dockerfile
Due: none

fix(ec2): set correct 'domain' property for CfnEIP in NAT Gateway
  packages/@aws-cdk/aws-ec2-alpha/lib/route.ts
Due: none

feat(rds): DatabaseCluster support replicationSourceIdentifier
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/asset.e7f43ee3831feaa8c622c2bca7576a224a644e24b0ac4c601b7bbc1a81a1a959.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/cluster-replication.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/cluster-replication.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/clusterreplicationintegDefaultTestDeployAssert7E5188AB.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/clusterreplicationintegDefaultTestDeployAssert7E5188AB.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-replication.ts
  packages/aws-cdk-lib/aws-rds/README.md
  packages/aws-cdk-lib/aws-rds/lib/cluster.ts
  packages/aws-cdk-lib/aws-rds/lib/validate-database-cluster-props.ts
  packages/aws-cdk-lib/aws-rds/test/cluster.test.ts
Due: none

feat(glue-alpha): include extraJars parameter in pyspark jobs
  packages/@aws-cdk/aws-glue-alpha/lib/jobs/pyspark-etl-job.ts
  packages/@aws-cdk/aws-glue-alpha/lib/jobs/pyspark-flex-etl-job.ts
  packages/@aws-cdk/aws-glue-alpha/lib/jobs/pyspark-streaming-job.ts
  packages/@aws-cdk/aws-glue-alpha/test/pyspark-etl-jobs.test.ts
  packages/@aws-cdk/aws-glue-alpha/test/pyspark-streaming-jobs.test.ts
Due: none

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
