Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

Fix snapstart warning grammar issue
  packages/aws-cdk-lib/aws-lambda/lib/function.ts
Due: none

fix(elasticloadbalancingv2): open, dual-stack-without-public-ipv4 ALB does not allow IPv6 inbound traffic (under feature flag) (#32765)
  packages/@aws-cdk-testing/framework-integ/test/aws-elasticloadbalancingv2/test/integ.alb.dualstack-without-public-ipv4.js.snapshot/AlbDualstackWithoutPublicIpv4DefaultTestDeployAssertFA6F90DD.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-elasticloadbalancingv2/test/integ.alb.dualstack-without-public-ipv4.js.snapshot/aws-cdk-elbv2-integ-dualstack-without-public-ipv4.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-elasticloadbalancingv2/test/integ.alb.dualstack-without-public-ipv4.js.snapshot/aws-cdk-elbv2-integ-dualstack-without-public-ipv4.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-elasticloadbalancingv2/test/integ.alb.dualstack-without-public-ipv4.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-elasticloadbalancingv2/test/integ.alb.dualstack-without-public-ipv4.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-elasticloadbalancingv2/test/integ.alb.dualstack-without-public-ipv4.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-elasticloadbalancingv2/test/integ.alb.dualstack-without-public-ipv4.js.snapshot/tree.json
  packages/aws-cdk-lib/aws-elasticloadbalancingv2/README.md
  packages/aws-cdk-lib/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/aws-cdk-lib/aws-elasticloadbalancingv2/lib/alb/application-load-balancer.ts
  packages/aws-cdk-lib/aws-elasticloadbalancingv2/test/alb/listener.test.ts
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/README.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
  packages/aws-cdk-lib/cx-api/test/features.test.ts
Due: none

chore(cli): rename cli-args-gen into user-input-gen (#32821)
  aws-cdk.code-workspace
  lerna.json
  package.json
  packages/aws-cdk/CONTRIBUTING.md
  packages/aws-cdk/jest.config.js
  packages/aws-cdk/lib/config.ts
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/lib/user-input.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/scripts/cli-args-gen
  packages/aws-cdk/scripts/cli-args-gen.ts
  packages/aws-cdk/scripts/user-input-gen
  packages/aws-cdk/scripts/user-input-gen.ts
  packages/aws-cdk/test/cli-arguments.test.ts
  tools/@aws-cdk/cli-args-gen/lib/index.ts
  tools/@aws-cdk/user-input-gen/.eslintrc.js
  tools/@aws-cdk/user-input-gen/.gitignore
  tools/@aws-cdk/user-input-gen/.npmignore
  tools/@aws-cdk/user-input-gen/LICENSE
  tools/@aws-cdk/user-input-gen/NOTICE
  tools/@aws-cdk/user-input-gen/README.md
  tools/@aws-cdk/user-input-gen/jest.config.js
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/index.ts
  tools/@aws-cdk/user-input-gen/lib/user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/util.ts
  tools/@aws-cdk/user-input-gen/lib/yargs-gen.ts
  tools/@aws-cdk/user-input-gen/lib/yargs-types.ts
  tools/@aws-cdk/user-input-gen/package.json
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/yargs-gen.test.ts
  tools/@aws-cdk/user-input-gen/tsconfig.json
Due: packages/aws-cdk

add test for code cov
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

address feedback
  packages/aws-cdk/lib/api/aws-auth/credential-plugins.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/deployments.ts
  packages/aws-cdk/lib/api/garbage-collection/garbage-collector.ts
  packages/aws-cdk/lib/api/garbage-collection/progress-printer.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/logs/logs-monitor.ts
  packages/aws-cdk/lib/api/util/cloudformation.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/commands/docs.ts
  packages/aws-cdk/lib/commands/doctor.ts
  packages/aws-cdk/lib/commands/migrate.ts
  packages/aws-cdk/lib/context-providers/ami.ts
  packages/aws-cdk/lib/diff.ts
  packages/aws-cdk/lib/import.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/aws-cdk/lib/version.ts
  packages/aws-cdk/test/api/logs/logging.test.ts
Due: packages/aws-cdk

address feedback
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/lib/api/garbage-collection/garbage-collector.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/test/api/logs/logging.test.ts
  packages/aws-cdk/test/notices.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
  packages/aws-cdk/test/util/silent.ts
  packages/aws-cdk/test/version.test.ts
Due: packages/aws-cdk

fix merge and test
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/test/cli-arguments.test.ts
Due: packages/aws-cdk

update activity base
  packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts
Due: packages/aws-cdk

update tests
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/test/cli-arguments.test.ts
Due: packages/aws-cdk

feat(cli): support --import-existing-resources flag in cdk diff
  packages/aws-cdk/lib/api/util/cloudformation.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/config.ts
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/lib/parse-command-line-arguments.ts
  packages/aws-cdk/lib/user-input.ts
Due: packages/aws-cdk

chore(cli): synth is now default command name, synthesize is alias (#32823)
  packages/aws-cdk/lib/config.ts
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/lib/parse-command-line-arguments.ts
  packages/aws-cdk/lib/user-input.ts
  packages/aws-cdk/test/cli-arguments.test.ts
Due: packages/aws-cdk

chore(cli): rename `_` to `command` in `UserInput` (#32822)
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/lib/user-input.ts
  packages/aws-cdk/test/cli-arguments.test.ts
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/user-input-gen.ts
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
Due: packages/aws-cdk

add unit tests
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/diff.test.ts
Due: packages/aws-cdk

Update README.md
  packages/aws-cdk/README.md
Due: packages/aws-cdk

Update diff.test.ts
  packages/aws-cdk/test/diff.test.ts
Due: packages/aws-cdk

feat(DockerImage): allow mounting existing or volume copy volumes
  packages/aws-cdk-lib/aws-lambda-nodejs/lib/bundling.ts
  packages/aws-cdk-lib/core/lib/asset-staging.ts
  packages/aws-cdk-lib/core/lib/bundling.ts
  packages/aws-cdk-lib/core/lib/private/asset-staging.ts
  packages/aws-cdk-lib/core/lib/private/bundling.ts
  packages/aws-cdk-lib/core/test/bundling.test.ts
  packages/aws-cdk-lib/core/test/private/asset-staging.test.ts
  packages/aws-cdk-lib/core/test/private/bundling.test.ts
  packages/aws-cdk-lib/core/test/staging.test.ts
Due: packages/aws-cdk-lib/core

refactor(asset-staging): explicitly set bind mount volume type
  packages/aws-cdk-lib/core/lib/asset-staging.ts
Due: packages/aws-cdk-lib/core

test(staging): use regex for user ID to pass in CI
  packages/aws-cdk-lib/core/test/staging.test.ts
Due: packages/aws-cdk-lib/core

fix jsdoc
  packages/@aws-cdk/aws-scheduler-targets-alpha/lib/universal.ts
Due: none

change props name
  packages/@aws-cdk/aws-scheduler-targets-alpha/lib/universal.ts
Due: none

add integ test
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/app/app.js
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
Due: none

update
  packages/aws-cdk-lib/aws-synthetics/README.md
  packages/aws-cdk-lib/aws-synthetics/lib/code.ts
Due: none

Update packages/@aws-cdk/aws-msk-alpha/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-msk-alpha/lib/serverless-cluster.ts
Due: none

fix test
  packages/@aws-cdk/aws-msk-alpha/test/serverless-cluster.test.ts
Due: none

remove unnecessary semicolons
  packages/@aws-cdk/aws-iot-actions-alpha/lib/private/role.ts
  packages/@aws-cdk/aws-scheduler-targets-alpha/lib/target.ts
Due: none

chore(lambda): fix snapstart warning grammar issue (#32829)
  packages/aws-cdk-lib/aws-lambda/lib/function.ts
Due: none

WIP: add comment to formatErrorMessage function
  packages/aws-cdk/lib/util/error.ts
Due: packages/aws-cdk

WIP: add unit test for formatErrorMessage function
  packages/aws-cdk/test/api/util/error.test.ts
Due: packages/aws-cdk

rds: scalability is spelled wrong
  packages/aws-cdk-lib/aws-rds/README.md
  packages/aws-cdk-lib/aws-rds/lib/cluster.ts
  packages/aws-cdk-lib/aws-rds/test/cluster.test.ts
Due: none

feat(core): enable additional metadata collection
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.ts
  packages/aws-cdk-lib/core/lib/metadata-resource.ts
  packages/aws-cdk-lib/core/lib/private/metadata-resource.ts
  packages/aws-cdk-lib/core/lib/private/runtime-info.ts
  packages/aws-cdk-lib/core/test/metadata-resource.test.ts
  packages/aws-cdk-lib/core/test/private/runtime-info.test.ts
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/README.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/recommended-feature-flags.json
Due: packages/aws-cdk-lib/core
