Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

feat(dynamodb): add pointintimerecoveryspecification and deprecate old (#33059)
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/PITR-Integ-Test.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/PITR-Integ-Test.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/tablev2pitrtestDefaultTestDeployAssertCC1E91C6.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/tablev2pitrtestDefaultTestDeployAssertCC1E91C6.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb-v2.pitr.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/table-pitr.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/table-pitr.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/tablepitrtestDefaultTestDeployAssert8B21EF95.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/tablepitrtestDefaultTestDeployAssert8B21EF95.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.dynamodb.pitr.ts
  packages/aws-cdk-lib/aws-dynamodb/README.md
  packages/aws-cdk-lib/aws-dynamodb/TABLE_V1_API.md
  packages/aws-cdk-lib/aws-dynamodb/lib/shared.ts
  packages/aws-cdk-lib/aws-dynamodb/lib/table-v2.ts
  packages/aws-cdk-lib/aws-dynamodb/lib/table.ts
  packages/aws-cdk-lib/aws-dynamodb/test/dynamodb.test.ts
  packages/aws-cdk-lib/aws-dynamodb/test/table-v2.test.ts
Due: none

add integration test case to test deployability
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/cdkmetadatatestingexample1DefaultTestDeployAssert8073CA62.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/cdkmetadatatestingexample1DefaultTestDeployAssert8073CA62.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/metadata-testing-example.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/metadata-testing-example.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.construct-metadata.ts
Due: none

validate length of passkeyRelyingPartyId
  packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
  packages/aws-cdk-lib/aws-cognito/test/user-pool.test.ts
Due: none

return undefined when no allowed factors
  packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
  packages/aws-cdk-lib/aws-cognito/test/user-pool.test.ts
Due: none

eslint fix
  packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
Due: none

fix: linter error
  packages/aws-cdk-lib/aws-stepfunctions-tasks/lib/bedrock/invoke-model.ts
  packages/aws-cdk-lib/aws-stepfunctions-tasks/lib/emr/emr-modify-instance-fleet-by-name.ts
  packages/aws-cdk-lib/aws-stepfunctions-tasks/lib/sns/publish.ts
  packages/aws-cdk-lib/aws-stepfunctions-tasks/lib/sqs/send-message.ts
Due: none

chore: add integ test that validates full proxy traversal (#33140)
  packages/@aws-cdk-testing/cli-integ/lib/aws.ts
  packages/@aws-cdk-testing/cli-integ/lib/cli/run-suite.ts
  packages/@aws-cdk-testing/cli-integ/lib/package-sources/release-source.ts
  packages/@aws-cdk-testing/cli-integ/lib/package-sources/repo-source.ts
  packages/@aws-cdk-testing/cli-integ/lib/proxy.ts
  packages/@aws-cdk-testing/cli-integ/lib/shell.ts
  packages/@aws-cdk-testing/cli-integ/lib/with-cdk-app.ts
  packages/@aws-cdk-testing/cli-integ/lib/with-cli-lib.ts
  packages/@aws-cdk-testing/cli-integ/resources/integ.jest.config.js
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/proxy.integtest.ts
  packages/@aws-cdk-testing/cli-integ/tsconfig.json
Due: none

refactor(toolkit): new message level `result`
  packages/@aws-cdk/toolkit/lib/api/io/io-message.ts
  packages/@aws-cdk/toolkit/lib/api/io/private/messages.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/test/actions/synth.test.ts
  packages/@aws-cdk/toolkit/test/api/io/io-message.test.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/lib/cli/cli.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/test/api/logs/logging.test.ts
  packages/aws-cdk/test/cli/cdk-toolkit.test.ts
  packages/aws-cdk/test/cli/cli.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

feat(glue-alpha): include extraJars parameter in pyspark jobs
  packages/@aws-cdk/aws-glue-alpha/lib/jobs/pyspark-etl-job.ts
  packages/@aws-cdk/aws-glue-alpha/lib/jobs/pyspark-flex-etl-job.ts
  packages/@aws-cdk/aws-glue-alpha/test/pyspark-etl-jobs.test.ts
Due: none

Integ test
  packages/@aws-cdk-testing/cli-integ/lib/with-cdk-app.ts
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/refactoring/cdk.json
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/refactoring/refactoring.js
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/lib/refactoring.ts
  packages/aws-cdk/test/refactoring.test.ts
Due: packages/aws-cdk

revert rename of selectStream
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
Due: packages/aws-cdk

Fix message format
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
Due: packages/aws-cdk

Move formatCorrespondence to refactoring.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/lib/refactoring.ts
Due: packages/aws-cdk

refactor(toolkit): new message level `result` (#33234)
  packages/@aws-cdk/toolkit/lib/api/io/io-message.ts
  packages/@aws-cdk/toolkit/lib/api/io/private/messages.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/test/actions/synth.test.ts
  packages/@aws-cdk/toolkit/test/api/io/io-message.test.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/lib/cli/cli.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/test/api/logs/logging.test.ts
  packages/aws-cdk/test/cli/cdk-toolkit.test.ts
  packages/aws-cdk/test/cli/cli.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

docs: update jsdoc
  packages/aws-cdk-lib/aws-cognito/lib/user-pool-client.ts
Due: none

feat(toolkit): default IoHost supports prompting
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/test/_helpers/prompts.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

docs: update comment
  packages/aws-cdk-lib/aws-cognito/lib/user-pool-client.ts
Due: none

docs: documentantion for termination protection via stage
  packages/aws-cdk-lib/core/README.md
Due: packages/aws-cdk-lib/core

test: integration test for termination protection via stage
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.stage-termination-protection.ts
Due: none

test: termination protection setting in stage
  packages/aws-cdk-lib/core/test/stage.test.ts
Due: packages/aws-cdk-lib/core

test: termination protection in stack via stage
  packages/aws-cdk-lib/core/test/stack.test.ts
Due: packages/aws-cdk-lib/core

fix: no throw default error
  packages/aws-cdk-lib/aws-cognito/lib/user-pool-client.ts
Due: none

feat: stack termination protection via stage
  packages/aws-cdk-lib/core/lib/stack.ts
  packages/aws-cdk-lib/core/lib/stage.ts
Due: packages/aws-cdk-lib/core

chore(toolkit): fix various inconsistenncies with hotswap settings
  packages/@aws-cdk/toolkit/lib/actions/deploy/index.ts
  packages/@aws-cdk/toolkit/lib/actions/deploy/private/index.ts
  packages/@aws-cdk/toolkit/lib/actions/watch/index.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/test/actions/deploy-hotswap.test.ts
  packages/@aws-cdk/toolkit/test/actions/watch.test.ts
Due: none

style: fix formatting
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.stage-termination-protection.ts
Due: none

chore(toolkit): default IoHost supports prompting (#33177)
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/test/_helpers/prompts.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

pr feedback
  packages/@aws-cdk/toolkit/lib/actions/deploy/index.ts
  packages/@aws-cdk/toolkit/lib/actions/watch/index.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/test/actions/deploy.test.ts
Due: none

name
  packages/@aws-cdk/toolkit/test/actions/watch.test.ts
Due: none

chore(toolkit): fix various inconsistenncies with hotswap settings (#33240)
  packages/@aws-cdk/toolkit/lib/actions/deploy/index.ts
  packages/@aws-cdk/toolkit/lib/actions/deploy/private/index.ts
  packages/@aws-cdk/toolkit/lib/actions/watch/index.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/test/actions/deploy-hotswap.test.ts
  packages/@aws-cdk/toolkit/test/actions/watch.test.ts
Due: none
