Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

Update CHANGELOG.v2.alpha.md
  CHANGELOG.v2.alpha.md
Due: none

Update CHANGELOG.v2.md
  CHANGELOG.v2.md
Due: none

chore(cli): cli arguments with "count: true" are generated as number types (#32758)
  packages/aws-cdk/lib/cli-arguments.ts
  tools/@aws-cdk/cli-args-gen/lib/cli-args-gen.ts
  tools/@aws-cdk/cli-args-gen/test/cli-args-gen.test.ts
Due: packages/aws-cdk

fix
  packages/aws-cdk-lib/aws-apigateway/lib/restapi.ts
Due: none

update
  packages/aws-cdk-lib/aws-synthetics/README.md
  packages/aws-cdk-lib/aws-synthetics/lib/canary.ts
Due: none

Update packages/aws-cdk-lib/aws-appconfig/lib/private/util.ts
  packages/aws-cdk-lib/aws-appconfig/lib/private/util.ts
Due: none

refactor
  packages/aws-cdk-lib/aws-appconfig/lib/index.ts
  packages/aws-cdk-lib/aws-appconfig/lib/util.ts
Due: none

fix
  packages/aws-cdk-lib/aws-appconfig/lib/environment.ts
Due: none

Final fixes
  packages/aws-cdk-lib/core/lib/aspect.ts
  packages/aws-cdk-lib/core/lib/private/synthesis.ts
  packages/aws-cdk-lib/core/test/aspect.prop.test.ts
  packages/aws-cdk-lib/core/test/aspect.test.ts
  tools/@aws-cdk/cdk-build-tools/config/jest.config.js
Due: packages/aws-cdk-lib/core

Update the fact tables and tests for lambda layers v0.115.0
  packages/aws-cdk-lib/aws-lambda/lib/adot-layers.ts
  packages/aws-cdk-lib/aws-lambda/test/adot.test.ts
  packages/aws-cdk-lib/aws-lambda/test/function.test.ts
  packages/aws-cdk-lib/region-info/build-tools/fact-tables.ts
Due: none

chore: add ianhou to mergify and GH merit badger configs (#32759)
  .github/workflows/github-merit-badger.yml
  .mergify.yml
Due: none

added docs
  packages/aws-cdk-lib/aws-cloudfront-origins/lib/origin-group.ts
Due: none

feat(ecs): warning when creating a service with the default minHealthyPercent (#31738)
  packages/aws-cdk-lib/aws-ecs-patterns/README.md
  packages/aws-cdk-lib/aws-ecs/README.md
  packages/aws-cdk-lib/aws-ecs/lib/base/base-service.ts
  packages/aws-cdk-lib/aws-ecs/lib/ec2/ec2-service.ts
  packages/aws-cdk-lib/aws-ecs/lib/external/external-service.ts
  packages/aws-cdk-lib/aws-ecs/test/ec2/ec2-service.test.ts
  packages/aws-cdk-lib/aws-ecs/test/external/external-service.test.ts
  packages/aws-cdk-lib/aws-ecs/test/fargate/fargate-service.test.ts
Due: none

udpate version in adot-layer for java
  packages/aws-cdk-lib/aws-lambda/lib/adot-layers.ts
Due: none

builds with test failures
  packages/aws-cdk/lib/api/cxapp/exec.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/settings.test.ts
Due: packages/aws-cdk

still builds
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/settings.test.ts
Due: packages/aws-cdk

Update snapshots
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/IntegTestDefaultTestDeployAssertE3E7D2A4.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/Stack1.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/Stack1.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/Stack2.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/Stack2.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.lambda-adot.js.snapshot/tree.json
Due: none

Add link to ECS doc in code comment
  packages/aws-cdk-lib/aws-ecs/lib/cluster.ts
Due: none

feat(ecs): enable fault injection flag (#32598)
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/TaskDefinitionEnableFaultInjectionDefaultTestDeployAssert16EB808C.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/TaskDefinitionEnableFaultInjectionDefaultTestDeployAssert16EB808C.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/aws-ecs-task-definition-enable-fault-injection.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/aws-ecs-task-definition-enable-fault-injection.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.task-definition-enable-fault-injection.ts
  packages/aws-cdk-lib/aws-ecs/README.md
  packages/aws-cdk-lib/aws-ecs/lib/base/task-definition.ts
  packages/aws-cdk-lib/aws-ecs/test/task-definition.test.ts
Due: none

fix(apprunner): the Service class does not implement IService (#32771)
  packages/@aws-cdk/aws-apprunner-alpha/lib/service.ts
Due: none
