Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

update enum name
  packages/aws-cdk-lib/core/lib/metadata-resource.ts
  packages/aws-cdk-lib/core/lib/private/runtime-info.ts
  packages/aws-cdk-lib/core/test/private/runtime-info.test.ts
Due: packages/aws-cdk-lib/core

update unit test
  packages/aws-cdk-lib/core/test/metadata-resource.test.ts
Due: packages/aws-cdk-lib/core

update integ test
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.ts
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/recommended-feature-flags.json
Due: none

fix(rds): clusterScailabilityType is spelled wrong and should be clusterScalabilityType (#32825)
  packages/aws-cdk-lib/aws-rds/README.md
  packages/aws-cdk-lib/aws-rds/lib/cluster.ts
  packages/aws-cdk-lib/aws-rds/test/cluster.test.ts
Due: none

fix spacing
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
Due: none

stuff
  packages/aws-cdk/lib/api/cxapp/cloud-executable.ts
  packages/aws-cdk/lib/api/cxapp/exec.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/cli/cli-cx.ts
  packages/aws-cdk/test/util.ts
Due: packages/aws-cdk

docs(ec2-alpha): fix typos (#32800)
  packages/@aws-cdk/aws-ec2-alpha/README.md
Due: none

Add note to Lambda L2 construct
  packages/aws-cdk-lib/aws-lambda/README.md
Due: none

Revert "feat(cli): warn of non-existent stacks in `cdk destroy` (#32636)"
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Due: packages/aws-cdk

fix(cli): "no stack found in the main cloud assembly" (#32839)
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Due: packages/aws-cdk

chore(release): 2.175.1
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Due: none

delete extra file
  packages/aws-cdk/lib/convert-to-cli-args.ts
Due: packages/aws-cdk

builds now
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/command.ts
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/settings.test.ts
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
Due: packages/aws-cdk

Update CHANGELOG.v2.alpha.md
  CHANGELOG.v2.alpha.md
Due: none

fixes the build
  packages/aws-cdk/lib/api/cxapp/exec.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/settings.ts
Due: packages/aws-cdk

chore(release): v2.175.1 (#32842)
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
  version.v2.json
Due: packages/aws-cdk

chore: add todo and missing docstring
  packages/aws-cdk-lib/core/lib/private/runtime-info.ts
Due: packages/aws-cdk-lib/core

chore: fix import order
  packages/aws-cdk-lib/aws-ecs/lib/cluster.ts
Due: none

chore: fix import order
  tools/@aws-cdk/construct-metadata-updater/.gitignore
  tools/@aws-cdk/construct-metadata-updater/LICENSE
  tools/@aws-cdk/construct-metadata-updater/README.md
  tools/@aws-cdk/construct-metadata-updater/bin/update-construct-metadata
  tools/@aws-cdk/construct-metadata-updater/bin/update-construct-metadata.ts
  tools/@aws-cdk/construct-metadata-updater/lib/index.ts
  tools/@aws-cdk/construct-metadata-updater/lib/metadata-updater.ts
  tools/@aws-cdk/construct-metadata-updater/package.json
  tools/@aws-cdk/construct-metadata-updater/test/metadata-updater.test.ts
  tools/@aws-cdk/construct-metadata-updater/tsconfig.json
  tools/@aws-cdk/construct-metadata-updater/yarn.lock
Due: none

chore: add todo to tests
  packages/aws-cdk-lib/core/test/private/runtime-info.test.ts
Due: packages/aws-cdk-lib/core

remove integration tests
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.ts
  packages/aws-cdk-lib/core/test/metadata-resource.test.ts
Due: packages/aws-cdk-lib/core

chore: remove duplicate entry in feature flag
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
Due: none

update jest config file
  tools/@aws-cdk/construct-metadata-updater/jest.config.js
Due: none

chore: remove duplicate entry in feature flag (#32843)
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
Due: none

update comments
  packages/aws-cdk-lib/aws-synthetics/lib/code.ts
Due: none

update
  packages/aws-cdk-lib/aws-synthetics/lib/code.ts
Due: none

chore(iot1click): remove the shuted down service aws-iot1click
  .github/workflows/issue-label-assign.yml
  packages/aws-cdk-lib/aws-iot1click/.jsiirc.json
  packages/aws-cdk-lib/aws-iot1click/README.md
  packages/aws-cdk-lib/aws-iot1click/index.ts
  packages/aws-cdk-lib/aws-iot1click/lib/index.ts
  packages/aws-cdk-lib/index.ts
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/pkglint/lib/aws-service-official-names.json
Due: none

add iot1click to deprecated apis
  deprecated_apis.txt
Due: none
