Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

Update README.md
  packages/aws-cdk-lib/aws-appsync/README.md
Due: none

fix build error
  packages/@aws-cdk/aws-scheduler-targets-alpha/README.md
Due: none

chore(docs): fix typos
  packages/@aws-cdk/aws-glue-alpha/lib/job-executable.ts
  packages/@aws-cdk/aws-glue-alpha/lib/job.ts
  packages/@aws-cdk/aws-glue-alpha/lib/schema.ts
Due: none

chore: re-enable console output in tests (#32883)
  packages/aws-cdk-lib/jest.config.js
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/testhelpers/jest-bufferedconsole.ts
  tools/@aws-cdk/cdk-build-tools/config/jest.config.js
Due: none

chore(docs): fix typos
  packages/@aws-cdk/aws-iot-actions-alpha/lib/firehose-put-record-action.ts
  packages/@aws-cdk/aws-iot-actions-alpha/lib/kinesis-put-record-action.ts
  packages/@aws-cdk/aws-iot-actions-alpha/lib/step-functions-state-machine-action.ts
  packages/@aws-cdk/aws-iot-actions-alpha/test/kinesis-firehose/firehose-put-record-action.test.ts
Due: none

fix(core): use correct formatting for aggregate errors in `aws-cdk` (#32817)
  packages/aws-cdk/lib/api/aws-auth/credential-plugins.ts
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/deployments.ts
  packages/aws-cdk/lib/api/environment-access.ts
  packages/aws-cdk/lib/api/environment-resources.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/logs/find-cloudwatch-logs.ts
  packages/aws-cdk/lib/api/nested-stack-helpers.ts
  packages/aws-cdk/lib/api/util/cloudformation.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-event-poller.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/context-providers/index.ts
  packages/aws-cdk/lib/init-hooks.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/lib/util/archive.ts
  packages/aws-cdk/lib/util/error.ts
  packages/aws-cdk/test/api/fake-sts.ts
  packages/aws-cdk/test/api/util/error.test.ts
Due: packages/aws-cdk

chore: stop proptest failures by giving fewer guarantees (#32885)
  packages/aws-cdk-lib/core/test/aspect.prop.test.ts
Due: packages/aws-cdk-lib/core

feat(scheduler-targets): add support for universal target (#32341)
  packages/@aws-cdk/aws-scheduler-targets-alpha/README.md
  packages/@aws-cdk/aws-scheduler-targets-alpha/lib/index.ts
  packages/@aws-cdk/aws-scheduler-targets-alpha/lib/universal.ts
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/AwsSchedulerTargetsUniversal.assets.json
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/AwsSchedulerTargetsUniversal.template.json
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/IntegTestUniversalDefaultTestDeployAssert42BBB3FD.assets.json
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/IntegTestUniversalDefaultTestDeployAssert42BBB3FD.template.json
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/asset.bfcf4228d6660f50e81f19efdb64c6388dda6796296eb239decdff1dbc2f4981.bundle/index.js
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/cdk.out
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/integ.json
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/manifest.json
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.js.snapshot/tree.json
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/integ.universal.ts
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/universal.test.ts
Due: none

feat(toolkit): enforce codes at compile time
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

fixup test
  packages/aws-cdk/test/api/logs/logging.test.ts
Due: packages/aws-cdk

upgrade dotnet version from 6.0 (EOS 12 NOV 2024) -> 8.0 for new csharp and fsharp projects
  packages/aws-cdk/lib/init-templates/app/csharp/src/%name.PascalCased%/%name.PascalCased%.template.csproj
  packages/aws-cdk/lib/init-templates/app/fsharp/src/%name.PascalCased%/%name.PascalCased%.template.fsproj
  packages/aws-cdk/lib/init-templates/sample-app/csharp/src/%name.PascalCased%/%name.PascalCased%.template.csproj
  packages/aws-cdk/lib/init-templates/sample-app/fsharp/src/%name.PascalCased%/%name.PascalCased%.template.fsproj
  packages/aws-cdk/test/init.test.ts
Due: packages/aws-cdk

docs(rds): fix typos (#32874)
  packages/aws-cdk-lib/aws-rds/lib/database-secret.ts
Due: none

address feedback
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/deployments.ts
  packages/aws-cdk/lib/api/garbage-collection/garbage-collector.ts
  packages/aws-cdk/lib/api/garbage-collection/progress-printer.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/logs/logs-monitor.ts
  packages/aws-cdk/lib/api/plugin/plugin.ts
  packages/aws-cdk/lib/api/toolkit-info.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts
  packages/aws-cdk/lib/api/util/template-body-parameter.ts
  packages/aws-cdk/lib/assets.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/commands/docs.ts
  packages/aws-cdk/lib/commands/doctor.ts
  packages/aws-cdk/lib/commands/migrate.ts
  packages/aws-cdk/lib/diff.ts
  packages/aws-cdk/lib/import.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/os.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/lib/util/cdk-chalk.ts
  packages/aws-cdk/lib/version.ts
  packages/aws-cdk/test/api/stack-activity-monitor.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

fix tests
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

feat(core): enable additional metadata collection
  packages/aws-cdk-lib/core/lib/metadata-resource.ts
  packages/aws-cdk-lib/core/lib/private/metadata-resource.ts
  packages/aws-cdk-lib/core/lib/private/runtime-info.ts
  packages/aws-cdk-lib/core/test/metadata-resource.test.ts
  packages/aws-cdk-lib/core/test/private/runtime-info.test.ts
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/README.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/recommended-feature-flags.json
Due: packages/aws-cdk-lib/core

docs(ec2-alpha): fix typos (#32878)
  packages/@aws-cdk/aws-ec2-alpha/lib/route.ts
  packages/@aws-cdk/aws-ec2-alpha/test/vpc-add-method.test.ts
Due: none

feat(rds): Add DatabaseInstance.fromLookup
  packages/aws-cdk-lib/aws-rds/README.md
  packages/aws-cdk-lib/aws-rds/lib/instance.ts
  packages/aws-cdk-lib/aws-rds/test/instance.from-lookup.test.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/context-providers/cc-api-provider.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/context-providers/cc-api-provider.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Due: packages/aws-cdk

chore(spec2cdk): remove skipping iot1click service
  packages/aws-cdk-lib/scripts/gen.ts
Due: none

docs(lambda-event-sources): fix typos (#32872)
  packages/aws-cdk-lib/aws-lambda-event-sources/lib/kafka.ts
Due: none

still builds, better refacotrs some places
  packages/aws-cdk/lib/api/cxapp/exec.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/test/api/exec.test.ts
  packages/aws-cdk/test/usersettings.test.ts
Due: packages/aws-cdk

Remove parameter in publish method for code assertion function.
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ-assets/eventapi-grant-assertion/index.js
Due: none

more updates
  packages/aws-cdk/lib/api/cxapp/cloud-executable.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli.ts
Due: packages/aws-cdk

docs(glue-alpha): fix typos (#32890)
  packages/@aws-cdk/aws-glue-alpha/lib/job-executable.ts
  packages/@aws-cdk/aws-glue-alpha/lib/job.ts
  packages/@aws-cdk/aws-glue-alpha/lib/schema.ts
Due: none

feat(cli): watch commands available in cli
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/config.ts
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/lib/parse-command-line-arguments.ts
  packages/aws-cdk/lib/user-input.ts
Due: packages/aws-cdk

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
