Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

chore(aws-cdk-lib): enable project references (#32970)
  packages/@aws-cdk/aws-ec2-alpha/lib/subnet-v2.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/vpc-v2-base.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/vpc-v2.ts
  packages/@aws-cdk/aws-iot-actions-alpha/test/cloudwatch/integ.cloudwatch-set-alarm-state-action.ts
  packages/@aws-cdk/aws-iot-alpha/lib/logging.ts
  packages/@aws-cdk/aws-lambda-go-alpha/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python-alpha/test/function.test.ts
  packages/@aws-cdk/aws-sagemaker-alpha/lib/endpoint.ts
  packages/@aws-cdk/aws-sagemaker-alpha/lib/model.ts
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/pkglint/lib/rules.ts
Due: none

chore: ensure docker file runs as non root user (#32976)
  packages/@aws-cdk/aws-lambda-go-alpha/lib/Dockerfile
  packages/@aws-cdk/aws-lambda-python-alpha/lib/Dockerfile
  packages/aws-cdk-lib/aws-lambda-nodejs/lib/Dockerfile
Due: none

feat(cloudfront-origins): list access level for 404 response (#32059)
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/asset.b98abee59e034ed29eeb601684dc34752baa86509a7d457d72305d4e19ecc80b.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/cloudfront-s3-bucket-origin-oac-list-access.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/cloudfront-s3-bucket-origin-oac-list-access.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/s3originoaclistaccessDefaultTestDeployAssert6967EED4.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/s3originoaclistaccessDefaultTestDeployAssert6967EED4.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-list-access.ts
  packages/aws-cdk-lib/aws-cloudfront-origins/README.md
  packages/aws-cdk-lib/aws-cloudfront-origins/lib/s3-bucket-origin.ts
  packages/aws-cdk-lib/aws-cloudfront-origins/test/s3-bucket-origin.test.ts
  packages/aws-cdk-lib/aws-cloudfront/lib/origin-access-control.ts
Due: none

docs(appsync): correct the schema definition for the sample code (#32889)
  packages/aws-cdk-lib/aws-appsync/README.md
Due: none

docs(contribution-guidelines): add guidance on a common "error" (#32983)
  CONTRIBUTING.md
Due: none

refactor: re-organize PR linter (#32969)
  .github/workflows/pr-linter-review-trigger.yml
  .github/workflows/pr-linter.yml
  tools/@aws-cdk/prlint/constants.ts
  tools/@aws-cdk/prlint/github.ts
  tools/@aws-cdk/prlint/index.ts
  tools/@aws-cdk/prlint/lint.ts
  tools/@aws-cdk/prlint/linter-base.ts
  tools/@aws-cdk/prlint/results.ts
  tools/@aws-cdk/prlint/test/lint.test.ts
Due: none

chore: stop failing the PR linter on changes requested (#32987)
  .mergify.yml
  tools/@aws-cdk/prlint/index.ts
Due: none

chore: fix memory overflow for buffered console (#32986)
  packages/aws-cdk-lib/testhelpers/jest-bufferedconsole.ts
  packages/aws-cdk/lib/version.ts
  packages/aws-cdk/test/jest-bufferedconsole.ts
Due: packages/aws-cdk

chore: add test workflow for check_suite event (#32990)
  .github/workflows/check-suite-test.yaml
Due: none

chore(toolkit): generate docs (#32991)
  packages/@aws-cdk/toolkit/.npmignore
  packages/@aws-cdk/toolkit/lib/actions/diff/index.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/source-builder.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/stack-assembly.ts
  packages/@aws-cdk/toolkit/package.json
  yarn.lock
Due: none

chore(toolkit): change bundling to not have a dependency on the aws-cdk package (#32989)
  packages/@aws-cdk/toolkit/.npmignore
  packages/@aws-cdk/toolkit/build-tools/bundle.mjs
  packages/@aws-cdk/toolkit/build-tools/package.sh
  packages/@aws-cdk/toolkit/bundle.mjs
  packages/@aws-cdk/toolkit/lib/api/aws-cdk.ts
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/tsconfig.json
Due: none

chore(toolkit): pass context to cx builders (#32996)
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/context-aware-source.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/prepare-source.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/source-builder.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/source-builder.ts
  packages/@aws-cdk/toolkit/test/_fixtures/external-context/app.js
  packages/@aws-cdk/toolkit/test/_fixtures/external-context/index.ts
  packages/@aws-cdk/toolkit/test/_helpers/index.ts
  packages/@aws-cdk/toolkit/test/api/cloud-assembly/source-builder.test.ts
Due: none

chore(toolkit): requireApproval option for deploy (#32977)
  packages/@aws-cdk/toolkit/lib/actions/deploy/index.ts
  packages/@aws-cdk/toolkit/lib/actions/diff/private/helpers.ts
  packages/@aws-cdk/toolkit/lib/actions/diff/private/index.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-role/index.ts
  packages/@aws-cdk/toolkit/test/_helpers/test-io-host.ts
  packages/@aws-cdk/toolkit/test/actions/deploy.test.ts
  packages/@aws-cdk/toolkit/test/actions/synth.test.ts
  packages/@aws-cdk/toolkit/test/api/cloud-assembly/source-builder.test.ts
Due: none

chore: ensure docker file runs as non root user (#32995)
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/sam_cdk_integ_app/src/docker/DockerImageFunctionConstruct/Dockerfile
Due: none

chore(cli): fix docs (#32999)
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Due: packages/aws-cdk

test(toolkit): more deploy tests (#33000)
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-notification-arns/index.ts
  packages/@aws-cdk/toolkit/test/actions/deploy.test.ts
Due: none

docs(lambda): add note on potential errors when updating lambda functions (#32838)
  packages/aws-cdk-lib/aws-lambda/README.md
Due: none

refactor(cli): `CliIoHost` is more self contained (#32993)
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/lib/util/yargs-helpers.ts
  packages/aws-cdk/test/api/bootstrap2.test.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/aws-cdk/test/api/exec.test.ts
  packages/aws-cdk/test/api/logs/logging.test.ts
  packages/aws-cdk/test/api/logs/logs-monitor.test.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/api/stack-activity-monitor.test.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
  packages/aws-cdk/test/cli.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

docs(contributing): add introduction to contributing and update flowchart to include major and minor contributions (#32619)
  CONTRIBUTING.md
Due: none

chore: revert ensure docker file runs as non root user (#33004)
  packages/@aws-cdk/aws-lambda-go-alpha/lib/Dockerfile
  packages/@aws-cdk/aws-lambda-python-alpha/lib/Dockerfile
  packages/aws-cdk-lib/aws-lambda-nodejs/lib/Dockerfile
Due: none

test(toolkit): destroy tests (#33002)
  packages/@aws-cdk/toolkit/test/actions/destroy.test.ts
Due: none

chore(README): remove Mergify badge (#32963)
  README.md
Due: none

feat: update L1 CloudFormation resource definitions (#33019)
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/aws-cdk-lib/aws-notifications/.jsiirc.json
  packages/aws-cdk-lib/aws-notifications/README.md
  packages/aws-cdk-lib/aws-notifications/index.ts
  packages/aws-cdk-lib/aws-notifications/lib/index.ts
  packages/aws-cdk-lib/aws-notificationscontacts/.jsiirc.json
  packages/aws-cdk-lib/aws-notificationscontacts/README.md
  packages/aws-cdk-lib/aws-notificationscontacts/index.ts
  packages/aws-cdk-lib/aws-notificationscontacts/lib/index.ts
  packages/aws-cdk-lib/index.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/scripts/scope-map.json
  tools/@aws-cdk/spec2cdk/package.json
  yarn.lock
Due: none

chore: reduce the runtime of CLI unit tests by 2 minutes (#32988)
  packages/aws-cdk/test/api/hotswap/appsync-mapping-templates-hotswap-deployments.test.ts
Due: packages/aws-cdk

chore: make tests work with new SDKv3 version (#33016)
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/package.json
  packages/aws-cdk/test/api/fake-sts.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
  yarn.lock
Due: packages/aws-cdk

chore(scheduler-alpha-targets): raise awareness for default policy risk (#33003)
  packages/@aws-cdk/aws-scheduler-targets-alpha/README.md
  packages/@aws-cdk/aws-scheduler-targets-alpha/lib/universal.ts
  packages/@aws-cdk/aws-scheduler-targets-alpha/test/universal.test.ts
Due: none

fix(cli): disallow import of internal cli libraries (#33021)
  packages/@aws-cdk/cli-lib-alpha/lib/cli.ts
  packages/@aws-cdk/cli-lib-alpha/test/cli.test.ts
  packages/@aws-cdk/cli-lib-alpha/test/commands.test.ts
  packages/@aws-cdk/toolkit/lib/api/aws-cdk.ts
  packages/aws-cdk/lib/index.ts
  packages/aws-cdk/lib/legacy-exports-source.ts
  packages/aws-cdk/lib/legacy-exports.ts
  packages/aws-cdk/lib/legacy-logging-source.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/api/fake-cloudformation-stack.ts
  packages/aws-cdk/test/api/logs/find-cloudwatch-logs.test.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
  packages/aws-cdk/test/context-providers/amis.test.ts
  packages/aws-cdk/test/context-providers/availability-zones.test.ts
  packages/aws-cdk/test/context-providers/endpoint-service-availability-zones.test.ts
  packages/aws-cdk/test/context-providers/hosted-zones.test.ts
  packages/aws-cdk/test/context-providers/load-balancers.test.ts
  packages/aws-cdk/test/context-providers/security-groups.test.ts
  packages/aws-cdk/test/context-providers/ssm-parameters.test.ts
  packages/aws-cdk/test/util/cloudformation.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Due: packages/aws-cdk

fix(cloudfront): add validations on ResponseHeadersCorsBehavior.accessControlAllowMethods (#32769)
  packages/aws-cdk-lib/aws-cloudfront/lib/response-headers-policy.ts
  packages/aws-cdk-lib/aws-cloudfront/test/response-headers-policy.test.ts
Due: none

fix(bundling): enclosing metafile & tsconfig paths with quotes (#32725)
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ-handlers/whitespace path/ts-handler.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/asset.2853b22adf0b1929f5ccd54840d96d298c0ba574aa7a5bd02df65295244d1085/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/asset.2853b22adf0b1929f5ccd54840d96d298c0ba574aa7a5bd02df65295244d1085/index.meta.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk-integ-lambda-nodejs.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk-integ-lambda-nodejs.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/whitespace path/tsconfig.json
  packages/aws-cdk-lib/aws-lambda-nodejs/lib/bundling.ts
  packages/aws-cdk-lib/aws-lambda-nodejs/test/bundling.test.ts
Due: none

chore(eks-v2): remove awsAuth (#32961)
  packages/@aws-cdk/aws-eks-v2-alpha/lib/alb-controller.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/aws-auth-mapping.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/aws-auth.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/cluster.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/fargate-profile.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/index.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/access-entry.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/alb-controller.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/awsauth.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/cluster.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/fargate.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/nodegroup.test.ts
Due: none

fix(cx-api): cannot detect CloudAssembly across different libraries (#32998)
  allowed-breaking-changes.txt
  packages/@aws-cdk/cli-lib-alpha/THIRD_PARTY_LICENSES
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/source-builder.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/source-builder.ts
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/test/_fixtures/external-context/index.ts
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-bucket/index.js
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-bucket/index.ts
  packages/@aws-cdk/toolkit/test/_fixtures/two-empty-stacks/index.js
  packages/@aws-cdk/toolkit/test/_fixtures/two-empty-stacks/index.ts
  packages/aws-cdk-lib/cx-api/lib/cloud-assembly.ts
  packages/aws-cdk-lib/cx-api/test/cloud-assembly.test.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  yarn.lock
Due: packages/aws-cdk

chore: remove sumupitchayan from core contributors (#33036)
  .github/workflows/github-merit-badger.yml
  .mergify.yml
Due: none

feat(s3): throw `ValidationError` instead of untyped errors (#33031)
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-s3/lib/bucket.ts
  packages/aws-cdk-lib/aws-s3/lib/notifications-resource/notifications-resource.ts
  packages/aws-cdk-lib/aws-s3/lib/util.ts
  packages/aws-cdk-lib/core/lib/errors.ts
  packages/aws-cdk-lib/core/test/errors.test.ts
Due: packages/aws-cdk-lib/core

feat(lambda): throw `ValidationError` instead of untyped errors (#33033)
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-lambda/lib/adot-layers.ts
  packages/aws-cdk-lib/aws-lambda/lib/alias.ts
  packages/aws-cdk-lib/aws-lambda/lib/code-signing-config.ts
  packages/aws-cdk-lib/aws-lambda/lib/code.ts
  packages/aws-cdk-lib/aws-lambda/lib/event-invoke-config.ts
  packages/aws-cdk-lib/aws-lambda/lib/event-source-mapping.ts
  packages/aws-cdk-lib/aws-lambda/lib/function-base.ts
  packages/aws-cdk-lib/aws-lambda/lib/function-hash.ts
  packages/aws-cdk-lib/aws-lambda/lib/function-url.ts
  packages/aws-cdk-lib/aws-lambda/lib/function.ts
  packages/aws-cdk-lib/aws-lambda/lib/lambda-insights.ts
  packages/aws-cdk-lib/aws-lambda/lib/lambda-version.ts
  packages/aws-cdk-lib/aws-lambda/lib/layers.ts
  packages/aws-cdk-lib/aws-lambda/lib/params-and-secrets-layers.ts
  packages/aws-cdk-lib/aws-lambda/lib/private/scalable-function-attribute.ts
Due: none

chore: add project prioritization automation actions (#33043)
  .github/workflows/README.md
  .github/workflows/project-prioritization-assignment.yml
  .github/workflows/project-prioritization-r2-assignment.yml
  .github/workflows/project-prioritization-r5-assignment.yml
  scripts/@aws-cdk/script-tests/prioritization/assign-priority.test.js
  scripts/@aws-cdk/script-tests/prioritization/assign-r2-priority.test.js
  scripts/@aws-cdk/script-tests/prioritization/assign-r5-priority.test.js
  scripts/@aws-cdk/script-tests/prioritization/helpers/mock-data.js
  scripts/prioritization/README.md
  scripts/prioritization/assign-priority.js
  scripts/prioritization/assign-r2-priority.js
  scripts/prioritization/assign-r5-priority.js
  scripts/prioritization/project-api.js
  scripts/prioritization/project-config.js
Due: none
