Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

add GetFunction permission to Provider Framework lambda
  packages/aws-cdk-lib/custom-resources/lib/provider-framework/provider.ts
  packages/aws-cdk-lib/custom-resources/test/provider-framework/provider.test.ts
Due: none

snapshot updates
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/cdk-dynamodb-global-20191121.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/cdk-dynamodb-global-20191121.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/cdkdynamodbglobal20191121awscdkawsdynamodbReplicaProviderB281C954.nested.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/cdkdynamodbglobal20191121testDefaultTestDeployAssert469C3611.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-dynamodb/test/integ.global.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/asset.2ef56be7a7906182ed8d1a8479be348cf836b925a9956cafededbd08199ba5c4/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/asset.a4796a13d6463dc004e4c4a2558caba37e681d86598515bae73669dde9bc73c8/__entrypoint__.js
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/asset.a4796a13d6463dc004e4c4a2558caba37e681d86598515bae73669dde9bc73c8/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/aws-cdk-eks-cluster.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/aws-cdk-eks-cluster.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/awscdkeksclusterawscdkawseksClusterResourceProvider0DD9B7A4.nested.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/awscdkeksclusterawscdkawseksKubectlProvider12A12654.nested.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-cluster.js.snapshot/tree.json
Due: none

variable renaming
  packages/aws-cdk-lib/custom-resources/lib/provider-framework/provider.ts
Due: none

snapshot update
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/asset.2853b22adf0b1929f5ccd54840d96d298c0ba574aa7a5bd02df65295244d1085/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/asset.2853b22adf0b1929f5ccd54840d96d298c0ba574aa7a5bd02df65295244d1085/index.meta.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk-integ-lambda-nodejs.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk-integ-lambda-nodejs.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/tree.json
Due: none

fix(cloudfront): add validations on ResponseHeadersCorsBehavior.accessControlAllowMethods (#32769)
  packages/aws-cdk-lib/aws-cloudfront/lib/response-headers-policy.ts
  packages/aws-cdk-lib/aws-cloudfront/test/response-headers-policy.test.ts
Due: none

fix(bundling): enclosing metafile & tsconfig paths with quotes (#32725)
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ-handlers/whitespace path/ts-handler.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/asset.2853b22adf0b1929f5ccd54840d96d298c0ba574aa7a5bd02df65295244d1085/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/asset.2853b22adf0b1929f5ccd54840d96d298c0ba574aa7a5bd02df65295244d1085/index.meta.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk-integ-lambda-nodejs.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk-integ-lambda-nodejs.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.function.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/whitespace path/tsconfig.json
  packages/aws-cdk-lib/aws-lambda-nodejs/lib/bundling.ts
  packages/aws-cdk-lib/aws-lambda-nodejs/test/bundling.test.ts
Due: none

fix
  packages/@aws-cdk/aws-location-alpha/lib/api-key.ts
Due: none

chore(eks-v2): remove awsAuth (#32961)
  packages/@aws-cdk/aws-eks-v2-alpha/lib/alb-controller.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/aws-auth-mapping.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/aws-auth.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/cluster.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/fargate-profile.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/index.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/access-entry.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/alb-controller.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/awsauth.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/cluster.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/fargate.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/nodegroup.test.ts
Due: none

Update TPL
  nx.json
  package.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  yarn.lock
Due: packages/aws-cdk

Moar TPL
  packages/@aws-cdk/integ-runner/THIRD_PARTY_LICENSES
  packages/@aws-cdk/integ-runner/package.json
  scripts/foreach.sh
Due: none

TPL
  packages/@aws-cdk/cli-lib-alpha/THIRD_PARTY_LICENSES
Due: none

allow breaking change to MetadataEntry
  allowed-breaking-changes.txt
Due: none

fixup review comment
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/source-builder.ts
Due: none

fix(cx-api): cannot detect CloudAssembly across different libraries (#32998)
  allowed-breaking-changes.txt
  packages/@aws-cdk/cli-lib-alpha/THIRD_PARTY_LICENSES
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/private/source-builder.ts
  packages/@aws-cdk/toolkit/lib/api/cloud-assembly/source-builder.ts
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/test/_fixtures/external-context/index.ts
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-bucket/index.js
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-bucket/index.ts
  packages/@aws-cdk/toolkit/test/_fixtures/two-empty-stacks/index.js
  packages/@aws-cdk/toolkit/test/_fixtures/two-empty-stacks/index.ts
  packages/aws-cdk-lib/cx-api/lib/cloud-assembly.ts
  packages/aws-cdk-lib/cx-api/test/cloud-assembly.test.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  yarn.lock
Due: packages/aws-cdk

fix: remove unused import
  packages/@aws-cdk-testing/framework-integ/test/aws-synthetics/test/integ.canary-provisioned-resource-cleanup.ts
Due: none

add comments
  packages/@aws-cdk-testing/framework-integ/test/aws-synthetics/test/integ.canary-provisioned-resource-cleanup.ts
Due: none

refactor(pipes-source-alpha): fix function name
  packages/@aws-cdk/aws-pipes-sources-alpha/lib/streamSource.ts
  packages/@aws-cdk/aws-pipes-sources-alpha/test/streamSource.test.ts
Due: none

docs(sagemaker-alpha): fix typo
  packages/@aws-cdk/aws-sagemaker-alpha/lib/scalable-instance-count.ts
Due: none

docs(servicecatalogappregistry-alpha): fix typo
  packages/@aws-cdk/aws-servicecatalogappregistry-alpha/lib/common.ts
Due: none

feat(s3): use `ValidationError`
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-s3/lib/bucket.ts
  packages/aws-cdk-lib/aws-s3/lib/notifications-resource/notifications-resource.ts
  packages/aws-cdk-lib/aws-s3/lib/util.ts
  packages/aws-cdk-lib/core/lib/errors.ts
  packages/aws-cdk-lib/core/test/errors.test.ts
Due: packages/aws-cdk-lib/core

feat(cli): show all information from waiter errors
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/api/hotswap/lambda-functions-docker-hotswap-deployments.test.ts
  yarn.lock
Due: packages/aws-cdk

Revert THIRD_PARTY_LICENSES
  packages/aws-cdk/THIRD_PARTY_LICENSES
Due: packages/aws-cdk

THIRD_PARTY_LICENSES again
  packages/aws-cdk/THIRD_PARTY_LICENSES
Due: packages/aws-cdk

chore: remove sumupitchayan from core contributors
  .github/workflows/github-merit-badger.yml
  .mergify.yml
Due: none

more docs
  packages/aws-cdk-lib/core/lib/errors.ts
Due: packages/aws-cdk-lib/core

chore: remove sumupitchayan from core contributors (#33036)
  .github/workflows/github-merit-badger.yml
  .mergify.yml
Due: none
