Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

watch refactor
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli-arguments.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/config.ts
  packages/aws-cdk/lib/convert-to-cli-args.ts
  packages/aws-cdk/lib/parse-command-line-arguments.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Due: packages/aws-cdk

initial commit: formatErrorMessage function
  packages/aws-cdk/lib/util/error.ts
Due: packages/aws-cdk

WIP
  packages/aws-cdk/lib/util/error.ts
Due: packages/aws-cdk

WIP: replace e.message in aws-cdk
  packages/aws-cdk/lib/api/aws-auth/credential-plugins.ts
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/deployments.ts
  packages/aws-cdk/lib/api/environment-access.ts
  packages/aws-cdk/lib/api/environment-resources.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/logs/find-cloudwatch-logs.ts
  packages/aws-cdk/lib/api/nested-stack-helpers.ts
  packages/aws-cdk/lib/api/util/cloudformation.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-event-poller.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/context-providers/index.ts
  packages/aws-cdk/lib/init-hooks.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/lib/util/archive.ts
  packages/aws-cdk/test/api/fake-sts.ts
Due: packages/aws-cdk

inline comment
  tools/@aws-cdk/cli-args-gen/lib/cli-args-function-gen.ts
Due: none

rename proeprty to config
  packages/aws-cdk/lib/convert-to-cli-args.ts
  tools/@aws-cdk/cli-args-gen/lib/cli-args-function-gen.ts
  tools/@aws-cdk/cli-args-gen/test/cli-args-function-gen.test.ts
Due: packages/aws-cdk

add comment explaining why we ignore aliases in cdk.json
  tools/@aws-cdk/cli-args-gen/lib/cli-args-function-gen.ts
Due: none

chore(release): 2.175.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
  packages/aws-cdk-lib/recommended-feature-flags.json
  version.v2.json
Due: none

WIP feat(ec2-alpha): transit gateway L2
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-attachment.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table-association.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table-propagation.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway.ts
Due: none

skeleton
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-attachment.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table-association.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table-propagation.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route-table.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-route.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway.ts
Due: none

user-input-gen
  tools/@aws-cdk/user-input-gen/.eslintrc.js
  tools/@aws-cdk/user-input-gen/.gitignore
  tools/@aws-cdk/user-input-gen/.npmignore
  tools/@aws-cdk/user-input-gen/LICENSE
  tools/@aws-cdk/user-input-gen/NOTICE
  tools/@aws-cdk/user-input-gen/README.md
  tools/@aws-cdk/user-input-gen/jest.config.js
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/index.ts
  tools/@aws-cdk/user-input-gen/lib/user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/util.ts
  tools/@aws-cdk/user-input-gen/lib/yargs-gen.ts
  tools/@aws-cdk/user-input-gen/lib/yargs-types.ts
  tools/@aws-cdk/user-input-gen/package.json
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/yargs-gen.test.ts
  tools/@aws-cdk/user-input-gen/tsconfig.json
Due: none

remove oidc tests due to static values
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/EventApiOIDCAuthStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/EventApiOIDCAuthStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/appsynceventapioidcauthDefaultTestDeployAssert08E0A19C.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/appsynceventapioidcauthDefaultTestDeployAssert08E0A19C.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.ts
Due: none

tests
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
Due: none

deleted cli-args-gen
  tools/@aws-cdk/cli-args-gen/.eslintrc.js
  tools/@aws-cdk/cli-args-gen/.gitignore
  tools/@aws-cdk/cli-args-gen/.npmignore
  tools/@aws-cdk/cli-args-gen/LICENSE
  tools/@aws-cdk/cli-args-gen/NOTICE
  tools/@aws-cdk/cli-args-gen/README.md
  tools/@aws-cdk/cli-args-gen/jest.config.js
  tools/@aws-cdk/cli-args-gen/lib/cli-args-function-gen.ts
  tools/@aws-cdk/cli-args-gen/lib/cli-args-gen.ts
  tools/@aws-cdk/cli-args-gen/lib/index.ts
  tools/@aws-cdk/cli-args-gen/lib/util.ts
  tools/@aws-cdk/cli-args-gen/lib/yargs-gen.ts
  tools/@aws-cdk/cli-args-gen/lib/yargs-types.ts
  tools/@aws-cdk/cli-args-gen/package.json
  tools/@aws-cdk/cli-args-gen/test/cli-args-function-gen.test.ts
  tools/@aws-cdk/cli-args-gen/test/cli-args-gen.test.ts
  tools/@aws-cdk/cli-args-gen/test/yargs-gen.test.ts
  tools/@aws-cdk/cli-args-gen/tsconfig.json
Due: none

finish renaming
  aws-cdk.code-workspace
  lerna.json
  package.json
  packages/aws-cdk/CONTRIBUTING.md
  packages/aws-cdk/lib/config.ts
  packages/aws-cdk/lib/convert-to-user-input.ts
  packages/aws-cdk/lib/user-input.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/scripts/cli-args-gen
  packages/aws-cdk/scripts/cli-args-gen.ts
  packages/aws-cdk/scripts/user-input-gen
  packages/aws-cdk/scripts/user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
Due: packages/aws-cdk

chore(cli): rename `_` to `command` in `UserInput`
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/user-input-gen.ts
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
Due: none

update test
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
Due: none

chore(cli): synth is default command name, synthesize is alias
  packages/aws-cdk/lib/cli-arguments.ts
  packages/aws-cdk/lib/config.ts
  packages/aws-cdk/lib/convert-to-cli-args.ts
  packages/aws-cdk/lib/parse-command-line-arguments.ts
Due: packages/aws-cdk

delete old files
  packages/aws-cdk/lib/cli-arguments.ts
  packages/aws-cdk/lib/convert-to-cli-args.ts
Due: packages/aws-cdk

feat(core): enable additional metadata collection
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableAdditionalMetadataDefaultTestDeployAssert3F14AD57.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.assets.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/EnableTelemtryStack.template.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/core/test/integ.enable-additional-metadata.ts
  packages/aws-cdk-lib/core/lib/metadata-resource.ts
  packages/aws-cdk-lib/core/lib/private/metadata-resource.ts
  packages/aws-cdk-lib/core/lib/private/runtime-info.ts
  packages/aws-cdk-lib/core/test/metadata-resource.test.ts
  packages/aws-cdk-lib/core/test/private/runtime-info.test.ts
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/README.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/recommended-feature-flags.json
Due: packages/aws-cdk-lib/core

chore(cli): aliased commands can be converted to cli args (#32806)
  packages/aws-cdk/lib/convert-to-cli-args.ts
  packages/aws-cdk/lib/settings.ts
  tools/@aws-cdk/cli-args-gen/lib/cli-args-function-gen.ts
  tools/@aws-cdk/cli-args-gen/test/cli-args-function-gen.test.ts
Due: packages/aws-cdk

add forceStdOut
  packages/aws-cdk/lib/util/asset-publishing.ts
Due: packages/aws-cdk

chore(cli): generate conversion from cdk.json to cli arguments (#32803)
  packages/aws-cdk/lib/cli-arguments.ts
  packages/aws-cdk/lib/convert-to-cli-args.ts
  packages/aws-cdk/test/cli-arguments.test.ts
  tools/@aws-cdk/cli-args-gen/lib/cli-args-function-gen.ts
  tools/@aws-cdk/cli-args-gen/lib/cli-args-gen.ts
  tools/@aws-cdk/cli-args-gen/test/cli-args-function-gen.test.ts
  tools/@aws-cdk/cli-args-gen/test/cli-args-gen.test.ts
Due: packages/aws-cdk

rds: scalability is spelled wrong
  packages/aws-cdk-lib/aws-rds/README.md
  packages/aws-cdk-lib/aws-rds/lib/cluster.ts
  packages/aws-cdk-lib/aws-rds/test/cluster.test.ts
Due: none

feat(appconfig): environment deletion protection (#32737)
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.js.snapshot/appconfigenvironmentDefaultTestDeployAssert75BD28E7.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.js.snapshot/aws-appconfig-environment.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.js.snapshot/aws-appconfig-environment.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-appconfig/test/integ.environment.ts
  packages/aws-cdk-lib/aws-appconfig/README.md
  packages/aws-cdk-lib/aws-appconfig/lib/environment.ts
  packages/aws-cdk-lib/aws-appconfig/lib/index.ts
  packages/aws-cdk-lib/aws-appconfig/lib/util.ts
  packages/aws-cdk-lib/aws-appconfig/test/environment.test.ts
Due: none

WIP: fix imports ordering in aws-cdk
  packages/aws-cdk/lib/api/aws-auth/credential-plugins.ts
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/logs/find-cloudwatch-logs.ts
  packages/aws-cdk/lib/api/util/cloudformation.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-event-poller.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/test/api/fake-sts.ts
Due: packages/aws-cdk

Update packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
Due: packages/aws-cdk

fix tests
  packages/aws-cdk/test/cli-arguments.test.ts
Due: packages/aws-cdk

jest config
  packages/aws-cdk/jest.config.js
Due: packages/aws-cdk

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
