Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

Add documentation on find/replace in CloudFront functions to README.md.
  packages/aws-cdk-lib/aws-cloudfront/README.md
Due: none

Polish the CloudFront function section of README.md.
  packages/aws-cdk-lib/aws-cloudfront/README.md
Due: none

Shim String.prototype.replaceAll.
  packages/aws-cdk-lib/aws-cloudfront/lib/function.ts
  packages/aws-cdk-lib/aws-cloudfront/test/function.test.ts
Due: none

Implement find/replace in CloudFront function code.
  packages/aws-cdk-lib/aws-cloudfront/lib/function.ts
Due: none

Test find/replace in CloudFront function code.
  packages/aws-cdk-lib/aws-cloudfront/test/function.test.ts
Due: none

Add an integration test.
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/CloudFrontFunctionFindReplaceDefaultTestDeployAssertD25DC6A8.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/CloudFrontFunctionFindReplaceDefaultTestDeployAssertD25DC6A8.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/asset.47ae18762663e5017f1b901bfe0a06cb436df2476a53b49e1db53fc36a08a793.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/asset.eafc02f6925151c95ac6a6ae81a3e36d4cf4e77db52eec8e467ce2a69454a41a.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/aws-cdk-cloudfront-function-find-replace.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/aws-cdk-cloudfront-function-find-replace.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.function-find-replace.ts
Due: none

Fixes.
  packages/aws-cdk-lib/aws-cloudfront/lib/function.ts
Due: none

Polish.
  packages/aws-cdk-lib/aws-cloudfront/README.md
Due: none

chore(tools): update lambda runtime tests github action
  .github/workflows/lambda-runtime-tests.yml
Due: none

dummy change to test the wf
  packages/aws-cdk-lib/aws-lambda/lib/runtime.ts
Due: none

fix
  .github/workflows/lambda-runtime-tests.yml
Due: none

chore: update lambda runtime integration tests
  packages/@aws-cdk/aws-lambda-python-alpha/test/integ.python.build.images.ts
Due: none

remove dummy change
  packages/aws-cdk-lib/aws-lambda/lib/runtime.ts
Due: none

add support for create subnet with ipam
  packages/@aws-cdk/aws-ec2-alpha/lib/ipam.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/route.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/subnet-v2.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/util.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/vpc-v2.ts
  packages/@aws-cdk/aws-ec2-alpha/test/integ.ipam.ts
  packages/@aws-cdk/aws-ec2-alpha/test/integ.route-v2.ts
  packages/@aws-cdk/aws-ec2-alpha/test/integ.subnet-v2.ts
  packages/@aws-cdk/aws-ec2-alpha/test/integ.test-import.ts
  packages/@aws-cdk/aws-ec2-alpha/test/integ.vpc-v2-alpha.ts
  packages/@aws-cdk/aws-ec2-alpha/test/ipam.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/route.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/subnet-v2.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/util.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/util.ts
  packages/@aws-cdk/aws-ec2-alpha/test/vpc-add-method.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/vpc-v2.test.ts
  packages/@aws-cdk/aws-ec2-alpha/test/vpcv2-import.test.ts
Due: none

add cli-io-host logging
  packages/aws-cdk/lib/api/aws-auth/credential-plugins.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/os.ts
Due: packages/aws-cdk

feat(msk): support ServerlessCluster
  packages/@aws-cdk/aws-msk-alpha/awslint.json
  packages/@aws-cdk/aws-msk-alpha/lib/cluster.ts
  packages/@aws-cdk/aws-msk-alpha/lib/index.ts
  packages/@aws-cdk/aws-msk-alpha/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/cdk.out
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/integ.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/manifest.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/msk-serverless-stack.assets.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/msk-serverless-stack.template.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/mskserverlessintegDefaultTestDeployAssertDD46F007.assets.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/mskserverlessintegDefaultTestDeployAssertDD46F007.template.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.js.snapshot/tree.json
  packages/@aws-cdk/aws-msk-alpha/test/integ.serverless-cluster.ts
  packages/@aws-cdk/aws-msk-alpha/test/serverless-cluster.test.ts
Due: none

Update packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/logging.ts
Due: packages/aws-cdk

chalk support the smart way
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/deployments.ts
  packages/aws-cdk/lib/api/garbage-collection/garbage-collector.ts
  packages/aws-cdk/lib/api/garbage-collection/progress-printer.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/logs/logs-monitor.ts
  packages/aws-cdk/lib/api/plugin/plugin.ts
  packages/aws-cdk/lib/api/toolkit-info.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts
  packages/aws-cdk/lib/api/util/template-body-parameter.ts
  packages/aws-cdk/lib/assets.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/commands/docs.ts
  packages/aws-cdk/lib/commands/doctor.ts
  packages/aws-cdk/lib/commands/migrate.ts
  packages/aws-cdk/lib/diff.ts
  packages/aws-cdk/lib/import.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/os.ts
  packages/aws-cdk/lib/toolkit/cli-io-host.ts
  packages/aws-cdk/lib/util/cdk-chalk.ts
  packages/aws-cdk/lib/version.ts
  packages/aws-cdk/test/api/stack-activity-monitor.test.ts
  packages/aws-cdk/test/toolkit/cli-io-host.test.ts
Due: packages/aws-cdk

README
  packages/@aws-cdk/aws-msk-alpha/README.md
Due: none

remove cluster name validation
  packages/@aws-cdk/aws-msk-alpha/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-msk-alpha/test/serverless-cluster.test.ts
Due: none

fix
  packages/@aws-cdk/aws-msk-alpha/lib/serverless-cluster.ts
Due: none

remove clusterName validation
  packages/@aws-cdk/aws-msk-alpha/lib/cluster.ts
Due: none

fix
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix
  packages/@aws-cdk/aws-msk-alpha/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-msk-alpha/test/serverless-cluster.test.ts
Due: none

Well that didn't help
  packages/aws-cdk-lib/core/test/aspect.prop.test.ts
Due: packages/aws-cdk-lib/core

Well hot damn
  packages/aws-cdk-lib/core/test/aspect.prop.test.ts
Due: packages/aws-cdk-lib/core

fix(aws-ecs): fix incorrect rate
  packages/aws-cdk-lib/aws-ecs/README.md
Due: none

chore: npm-check-updates && yarn upgrade Ran npm-check-updates and yarn upgrade to keep the `yarn.lock` file up-to-date.
  package.json
  packages/@aws-cdk-testing/cli-integ/package.json
  packages/@aws-cdk-testing/framework-integ/package.json
  packages/@aws-cdk/aws-custom-resource-sdk-adapter/package.json
  packages/@aws-cdk/aws-eks-v2-alpha/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/custom-resource-handlers/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/integ-runner/THIRD_PARTY_LICENSES
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/integ-tests-alpha/package.json
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/recommended-feature-flags.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/lib/init-templates/app/typescript/package.json
  packages/aws-cdk/lib/init-templates/lib/typescript/package.json
  packages/aws-cdk/lib/init-templates/sample-app/typescript/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cli-args-gen/package.json
  tools/@aws-cdk/lambda-integration-test-updater/package.json
  tools/@aws-cdk/lazify/package.json
  tools/@aws-cdk/node-bundle/package.json
  tools/@aws-cdk/pkglint/package.json
  tools/@aws-cdk/prlint/package.json
  tools/@aws-cdk/spec2cdk/package.json
  tools/@aws-cdk/yarn-cling/package.json
  yarn.lock
Due: packages/aws-cdk

mid work
  packages/@aws-cdk-testing/cli-integ/lib/aws.ts
  packages/@aws-cdk-testing/cli-integ/lib/with-aws.ts
  packages/@aws-cdk-testing/cli-integ/lib/with-cdk-app.ts
  packages/@aws-cdk-testing/cli-integ/package.json
Due: none

This is mostly correct
  packages/aws-cdk-lib/core/test/aspect.prop.test.ts
Due: packages/aws-cdk-lib/core

Preserve legacy behavior
  packages/aws-cdk-lib/core/lib/private/synthesis.ts
Due: packages/aws-cdk-lib/core

Why not
  packages/aws-cdk-lib/core/lib/stage.ts
Due: packages/aws-cdk-lib/core

A more readable way to see this error
  packages/aws-cdk-lib/core/test/aspect.test.ts
Due: packages/aws-cdk-lib/core

docs(ec2-alpha): fix typos
  packages/@aws-cdk/aws-ec2-alpha/README.md
Due: none

Getting to this but it's still broken
  packages/aws-cdk-lib/core/lib/private/synthesis.ts
  packages/aws-cdk-lib/core/test/aspect.prop.test.ts
Due: packages/aws-cdk-lib/core

fix(cloudwatch): render region and accountId when directly set on metrics (#32325)
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.js.snapshot/DashboardAndWidgetWithStartAndEnd.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.js.snapshot/DashboardAndWidgetWithStartAndEnd.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.js.snapshot/cdkintegdashboardandwidgetwithstartandendDefaultTestDeployAssert4D8483F4.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudwatch/test/integ.dashboard-and-widget-with-start-and-end.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/metric-types.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/metric.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/private/make-enumerable.ts
  packages/aws-cdk-lib/aws-cloudwatch/lib/private/rendering.ts
  packages/aws-cdk-lib/aws-cloudwatch/test/cross-environment.test.ts
  packages/aws-cdk-lib/aws-cloudwatch/test/metrics.test.ts
Due: none

Update example resource
  packages/@aws-cdk/example-construct-library/lib/example-resource.ts
Due: none

Update integration tests and unit tests based on security review.
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-channel-namespace.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-event-api.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-api-key-auth.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-cognito-auth.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-iam-auth.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-lambda-auth.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-appsync/test/integ.appsync-eventapi-oidc-auth.ts
  packages/aws-cdk-lib/aws-appsync/lib/appsync-common.ts
  packages/aws-cdk-lib/aws-appsync/test/appsync-channel-namespace.test.ts
  packages/aws-cdk-lib/aws-appsync/test/appsync-eventapi.test.ts
Due: none

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
