Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

feat(autoscaling): throw `ValidationError` instead of untyped Errors (#33388)
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-autoscaling-common/lib/interval-utils.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/auto-scaling-group.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/lifecycle-hook.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/schedule.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/scheduled-action.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/step-scaling-action.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/step-scaling-policy.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/target-tracking-scaling-policy.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/volume.ts
  packages/aws-cdk-lib/aws-autoscaling/lib/warm-pool.ts
Due: none

chore: temporarily skip sam test to release the patch (#33409)
  packages/@aws-cdk-testing/cli-integ/resources/cli-regression-patches/v2.178.1/NOTES.md
  packages/@aws-cdk-testing/cli-integ/resources/cli-regression-patches/v2.178.1/skip-tests.txt
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
Due: none

feat(cx-api): throw `CloudAssemblyError` instead of untyped Errors (#33390)
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/core/lib/errors.ts
  packages/aws-cdk-lib/cx-api/lib/artifacts/asset-manifest-artifact.ts
  packages/aws-cdk-lib/cx-api/lib/artifacts/cloudformation-artifact.ts
  packages/aws-cdk-lib/cx-api/lib/artifacts/tree-cloud-artifact.ts
  packages/aws-cdk-lib/cx-api/lib/cloud-artifact.ts
  packages/aws-cdk-lib/cx-api/lib/cloud-assembly.ts
  packages/aws-cdk-lib/cx-api/lib/environment.ts
  packages/aws-cdk-lib/cx-api/lib/features.ts
  packages/aws-cdk-lib/cx-api/lib/private/error.ts
  packages/aws-cdk-lib/cx-api/lib/toposort.ts
Due: packages/aws-cdk-lib/core

chore: add oracle engine versions
  packages/aws-cdk-lib/aws-rds/lib/instance-engine.ts
Due: none

feat(cloudformation-include): throw `ValidationError` instead of untyped Errors (#33391)
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/cloudformation-include/lib/cfn-include.ts
Due: none

Inverse refactor in case of rollback
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/lib/refactoring.ts
Due: packages/aws-cdk

chore: npm-check-updates && yarn upgrade Ran npm-check-updates and yarn upgrade to keep the `yarn.lock` file up-to-date.
  package.json
  packages/@aws-cdk-testing/cli-integ/package.json
  packages/@aws-cdk-testing/framework-integ/package.json
  packages/@aws-cdk/aws-custom-resource-sdk-adapter/package.json
  packages/@aws-cdk/aws-eks-v2-alpha/package.json
  packages/@aws-cdk/aws-glue-alpha/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/custom-resource-handlers/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/integ-runner/THIRD_PARTY_LICENSES
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/integ-tests-alpha/package.json
  packages/@aws-cdk/toolkit/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/lib/init-templates/app/typescript/package.json
  packages/aws-cdk/lib/init-templates/lib/typescript/package.json
  packages/aws-cdk/lib/init-templates/sample-app/typescript/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cdk-release/package.json
  tools/@aws-cdk/construct-metadata-updater/package.json
  tools/@aws-cdk/lambda-integration-test-updater/package.json
  tools/@aws-cdk/lazify/package.json
  tools/@aws-cdk/node-bundle/package.json
  tools/@aws-cdk/pkglint/package.json
  tools/@aws-cdk/prlint/package.json
  tools/@aws-cdk/spec2cdk/package.json
  tools/@aws-cdk/user-input-gen/package.json
  tools/@aws-cdk/yarn-cling/package.json
  yarn.lock
Due: packages/aws-cdk

refactor(cli): resource-import uses IoHost
  packages/@aws-cdk/toolkit/lib/actions/deploy/index.ts
  packages/@aws-cdk/toolkit/lib/api/aws-cdk.ts
  packages/@aws-cdk/toolkit/lib/api/io/private/codes.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/aws-cdk/lib/api/resource-import/importer.ts
  packages/aws-cdk/lib/api/resource-import/index.ts
  packages/aws-cdk/lib/api/resource-import/migrator.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/lib/cli/cli.ts
  packages/aws-cdk/lib/cli/messages.ts
  packages/aws-cdk/test/api/resource-import/import.test.ts
Due: packages/aws-cdk

added additional comments to test code, reused existing lambda code
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/app/app.js
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/app/lambda-node/index.d.ts
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/app/lambda-node/index.ts
Due: none

include missed changes
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
Due: none

chore(deps): update cdk-assets
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-asset/asset/index.ts
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-asset/index.ts
  packages/aws-cdk/package.json
  yarn.lock
Due: packages/aws-cdk

Add support for fieldIndexPolicies in log group L2 Construct
  packages/aws-cdk-lib/aws-logs/lib/field-index-policy.ts
  packages/aws-cdk-lib/aws-logs/lib/index.ts
  packages/aws-cdk-lib/aws-logs/lib/log-group.ts
  packages/aws-cdk-lib/aws-logs/test/loggroup.test.ts
Due: none

chore(rds): add Oracle engine versions released in January 2025 Update (#33411)
  packages/aws-cdk-lib/aws-rds/lib/instance-engine.ts
Due: none

feat(assertions): throw typed errors
  packages/@aws-cdk/integ-tests-alpha/test/assertions/providers/lambda-handler/base.test.ts
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/assertions/lib/annotations.ts
  packages/aws-cdk-lib/assertions/lib/capture.ts
  packages/aws-cdk-lib/assertions/lib/match.ts
  packages/aws-cdk-lib/assertions/lib/private/cyclic.ts
  packages/aws-cdk-lib/assertions/lib/private/error.ts
  packages/aws-cdk-lib/assertions/lib/tags.ts
  packages/aws-cdk-lib/assertions/lib/template.ts
  packages/aws-cdk-lib/core/lib/errors.ts
Due: packages/aws-cdk-lib/core

test(cli): cdk import works when used on a stack containing a nodejs lambda function (#33372)
  packages/@aws-cdk-testing/cli-integ/resources/cdk-apps/app/app.js
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-nodejs/test/integ.nodejs.build.images.ts
Due: none

TPL
  packages/@aws-cdk/integ-runner/THIRD_PARTY_LICENSES
  packages/aws-cdk/THIRD_PARTY_LICENSES
Due: packages/aws-cdk

feat(assertions): throw typed errors (#33382)
  packages/@aws-cdk/integ-tests-alpha/test/assertions/providers/lambda-handler/base.test.ts
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/assertions/lib/annotations.ts
  packages/aws-cdk-lib/assertions/lib/capture.ts
  packages/aws-cdk-lib/assertions/lib/match.ts
  packages/aws-cdk-lib/assertions/lib/private/cyclic.ts
  packages/aws-cdk-lib/assertions/lib/private/error.ts
  packages/aws-cdk-lib/assertions/lib/tags.ts
  packages/aws-cdk-lib/assertions/lib/template.ts
  packages/aws-cdk-lib/core/lib/errors.ts
Due: packages/aws-cdk-lib/core

chore(cli): update documentation for generated files
  packages/aws-cdk/lib/cli/convert-to-user-input.ts
  packages/aws-cdk/lib/cli/parse-command-line-arguments.ts
  packages/aws-cdk/lib/cli/user-input.ts
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/util.ts
  tools/@aws-cdk/user-input-gen/lib/yargs-gen.ts
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/yargs-gen.test.ts
Due: packages/aws-cdk

fix(eks): `cluster.addHelmChart` ignores `skipCrds` (#31832)
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/asset.96b83d7c7535f7e731e0679249de9470f417342331b121e36664078b4ef4a11b/apply/__init__.py
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/asset.96b83d7c7535f7e731e0679249de9470f417342331b121e36664078b4ef4a11b/get/__init__.py
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/asset.96b83d7c7535f7e731e0679249de9470f417342331b121e36664078b4ef4a11b/helm/__init__.py
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/asset.96b83d7c7535f7e731e0679249de9470f417342331b121e36664078b4ef4a11b/index.py
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/asset.96b83d7c7535f7e731e0679249de9470f417342331b121e36664078b4ef4a11b/patch/__init__.py
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/aws-cdk-eks-helm-test.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/aws-cdk-eks-helm-test.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/awscdkekshelmtestawscdkawseksKubectlProvider207F42E4.nested.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-helm-asset.js.snapshot/tree.json
  packages/@aws-cdk/custom-resource-handlers/lib/aws-eks/kubectl-handler/helm/__init__.py
Due: none

chore(deps): update cdk-assets (#33415)
  packages/@aws-cdk/integ-runner/THIRD_PARTY_LICENSES
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-asset/asset/index.ts
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-asset/index.ts
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/package.json
  yarn.lock
Due: packages/aws-cdk

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
