Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

minor
  packages/@aws-cdk/aws-eks-v2-alpha/lib/cluster.ts
Due: none

chore: add remote branch check to workflows (#33525)
  .github/workflows/analytics-metadata-updater.yml
  .github/workflows/lambda-runtime-tests.yml
Due: none

chore: fix stepfunctions import
  packages/aws-cdk-lib/aws-stepfunctions/lib/states/map-base.ts
Due: none

chore(region-info): ap-southeast-5
  packages/aws-cdk-lib/region-info/build-tools/fact-tables.ts
  packages/aws-cdk-lib/region-info/test/__snapshots__/region-info.test.ts.snap
Due: none

fix test
  packages/aws-cdk-lib/aws-appsync/test/appsync-eventapi.test.ts
Due: none

chore: fix stepfunctions import (#33529)
  packages/aws-cdk-lib/aws-stepfunctions/lib/states/map-base.ts
Due: none

feat: update L1 CloudFormation resource definitions Updates the L1 CloudFormation resource definitions with the latest changes from `@aws-cdk/aws-service-spec`
  package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/spec2cdk/package.json
  yarn.lock
Due: none

feat: update L1 CloudFormation resource definitions (#33531)
  package.json
  packages/@aws-cdk/integ-runner/package.json
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/spec2cdk/package.json
  yarn.lock
Due: none

chore: fix yarn upgrade workflow
  .github/workflows/yarn-upgrade.yml
Due: none

chore: fix yarn upgrade workflow (#33533)
  .github/workflows/yarn-upgrade.yml
Due: none

feat(ecs): managedStorageConfiguration support encrypting managed storage
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/asset.3e61c39c0efebc770b86906206d499dc248b5325972df96455773db9e6a37216.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/aws-ecs-encrypt-storage.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/aws-ecs-encrypt-storage.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/awsecsclusterencryptstorageDefaultTestDeployAssertAA409973.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/awsecsclusterencryptstorageDefaultTestDeployAssertAA409973.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ecs/test/integ.cluster-encrypt-storage.ts
  packages/aws-cdk-lib/aws-ecs/README.md
  packages/aws-cdk-lib/aws-ecs/lib/cluster.ts
  packages/aws-cdk-lib/aws-ecs/test/cluster.test.ts
Due: none

feat(cloudfront-origins): read versioned access level (#33038)
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/asset.bfcf4228d6660f50e81f19efdb64c6388dda6796296eb239decdff1dbc2f4981.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/cloudfront-s3-bucket-origin-oac-read-versioned-access.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/cloudfront-s3-bucket-origin-oac-read-versioned-access.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/s3originoacreadversionedaccessDefaultTestDeployAssert4EB06593.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/s3originoacreadversionedaccessDefaultTestDeployAssert4EB06593.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront-origins/test/integ.s3-origin-oac-read-versioned.ts
  packages/aws-cdk-lib/aws-cloudfront-origins/README.md
  packages/aws-cdk-lib/aws-cloudfront-origins/lib/s3-bucket-origin.ts
  packages/aws-cdk-lib/aws-cloudfront-origins/test/s3-bucket-origin.test.ts
  packages/aws-cdk-lib/aws-cloudfront/lib/origin-access-control.ts
Due: none

Tweak enum-like parser to omit certain enum-likes
  packages/aws-cdk-lib/core/lib/analytics-data-source/enums/module-enumlikes.json
  tools/@aws-cdk/construct-metadata-updater/lib/metadata-updater.ts
Due: packages/aws-cdk-lib/core

Include enum-likes declared via PropertyAccessExpression as well
  packages/aws-cdk-lib/core/lib/analytics-data-source/enums/module-enumlikes.json
  tools/@aws-cdk/construct-metadata-updater/lib/metadata-updater.ts
Due: packages/aws-cdk-lib/core

update stale pr workflow
  .github/workflows/close-stale-prs.yml
Due: none

chore: tweak enum-like parser to exclude certain classes (#33536)
  packages/aws-cdk-lib/core/lib/analytics-data-source/enums/module-enumlikes.json
  tools/@aws-cdk/construct-metadata-updater/lib/metadata-updater.ts
Due: packages/aws-cdk-lib/core

chore(release): 2.180.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
  packages/aws-cdk-lib/cx-api/lib/features.ts
  version.v2.json
Due: none

add git checkout
  .github/workflows/analytics-metadata-updater.yml
  .github/workflows/lambda-runtime-tests.yml
Due: none

Add support for fieldIndexPolicies in log group L2 Construct
  packages/aws-cdk-lib/aws-logs/lib/field-index-policy.ts
  packages/aws-cdk-lib/aws-logs/lib/index.ts
  packages/aws-cdk-lib/aws-logs/lib/log-group.ts
  packages/aws-cdk-lib/aws-logs/test/loggroup.test.ts
Due: none

1. Add README & Integ tests 2. Address comments
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/aws-cdk-log-group-integ.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/aws-cdk-log-group-integ.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-logs/test/integ.log-group.ts
  packages/aws-cdk-lib/aws-logs/README.md
  packages/aws-cdk-lib/aws-logs/test/loggroup.test.ts
Due: none

fix(core): serviceTimeout for CustomResource does not work with token
  packages/aws-cdk-lib/core/lib/custom-resource.ts
  packages/aws-cdk-lib/core/test/custom-resource.test.ts
Due: packages/aws-cdk-lib/core

add doc and tests for the type of duration
  packages/aws-cdk-lib/core/lib/custom-resource.ts
  packages/aws-cdk-lib/core/test/custom-resource.test.ts
Due: packages/aws-cdk-lib/core

example
  packages/aws-cdk-lib/core/lib/custom-resource.ts
Due: packages/aws-cdk-lib/core

Update custom-resource.ts
  packages/aws-cdk-lib/core/lib/custom-resource.ts
Due: packages/aws-cdk-lib/core

Init change for eks auto support in v1
  packages/@aws-cdk-testing/framework-integ/test/aws-eks/test/integ.eks-auto.ts
  packages/@aws-cdk/aws-custom-resource-sdk-adapter/package.json
  packages/@aws-cdk/custom-resource-handlers/lib/aws-eks/cluster-resource-handler/cluster.ts
  packages/@aws-cdk/custom-resource-handlers/package.json
  packages/aws-cdk-lib/aws-eks/README.md
  packages/aws-cdk-lib/aws-eks/lib/cluster-resource.ts
  packages/aws-cdk-lib/aws-eks/lib/cluster.ts
  packages/aws-cdk-lib/aws-eks/test/automode.test.ts
  packages/aws-cdk-lib/aws-eks/test/cluster.test.ts
  packages/aws-cdk-lib/package.json
  yarn.lock
Due: none

Extend the VPC L2 Construct to support provisioning a VPC that extends subnets onto an AWS Outpost
  packages/@aws-cdk/aws-ec2-alpha/lib/subnet-v2.ts
  packages/@aws-cdk/cli-lib-alpha/THIRD_PARTY_LICENSES
  packages/aws-cdk-lib/aws-ec2/lib/util.ts
  packages/aws-cdk-lib/aws-ec2/lib/vpc.ts
  packages/aws-cdk-lib/aws-ec2/test/vpc.test.ts
  packages/aws-cdk-lib/cx-api/lib/context/vpc.ts
  packages/aws-cdk/lib/context-providers/vpcs.ts
Due: packages/aws-cdk

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
