Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

chore(deps): update cdk-assets (#33415)
  packages/@aws-cdk/integ-runner/THIRD_PARTY_LICENSES
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/toolkit/package.json
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-asset/asset/index.ts
  packages/@aws-cdk/toolkit/test/_fixtures/stack-with-asset/index.ts
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/package.json
  yarn.lock
Due: packages/aws-cdk

chore(cli): update documentation for generated files (#33421)
  packages/aws-cdk/lib/cli/convert-to-user-input.ts
  packages/aws-cdk/lib/cli/parse-command-line-arguments.ts
  packages/aws-cdk/lib/cli/user-input.ts
  tools/@aws-cdk/user-input-gen/lib/convert-to-user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/user-input-gen.ts
  tools/@aws-cdk/user-input-gen/lib/util.ts
  tools/@aws-cdk/user-input-gen/lib/yargs-gen.ts
  tools/@aws-cdk/user-input-gen/test/convert-to-user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/user-input-gen.test.ts
  tools/@aws-cdk/user-input-gen/test/yargs-gen.test.ts
Due: packages/aws-cdk

no unnecessary exports
  packages/aws-cdk/lib/cli/user-configuration.ts
Due: packages/aws-cdk

enforce explicit bundling configuration for CLI commands
  packages/aws-cdk/lib/cli/user-configuration.ts
Due: packages/aws-cdk

update readme
  packages/aws-cdk-lib/aws-eks/README.md
Due: none

fix undefined bundling
  packages/aws-cdk/lib/cli/user-configuration.ts
Due: packages/aws-cdk

remove unused toolkitStackName
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
  packages/aws-cdk/lib/api/resource-import/importer.ts
  packages/aws-cdk/lib/api/resource-import/migrator.ts
  packages/aws-cdk/lib/cli/cdk-toolkit.ts
  packages/aws-cdk/test/api/resource-import/import.test.ts
Due: packages/aws-cdk

fix(stepfunctions): support assign property and fix Catch state issue
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/DistributedMapCatchDefaultTestDeployAssert25965E29.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/DistributedMapCatchDefaultTestDeployAssert25965E29.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/asset.bfcf4228d6660f50e81f19efdb64c6388dda6796296eb239decdff1dbc2f4981.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/aws-stepfunctions-map-with-catch.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/aws-stepfunctions-map-with-catch.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.ts
  packages/aws-cdk-lib/aws-efs/lib/efs-file-system.ts
  packages/aws-cdk-lib/aws-stepfunctions/lib/states/map-base.ts
  packages/aws-cdk-lib/aws-stepfunctions/lib/states/state.ts
  packages/aws-cdk-lib/aws-stepfunctions/lib/types.ts
  packages/aws-cdk-lib/aws-stepfunctions/test/map.test.ts
Due: none

add unit tests
  packages/aws-cdk-lib/aws-stepfunctions/test/map.test.ts
Due: none

fix linting issues
  packages/aws-cdk-lib/aws-stepfunctions/test/map.test.ts
Due: none

feat(events-targets): allow all ECS TaskOverrides (#32344)
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.js.snapshot/EcsTestDefaultTestDeployAssert8B2741C4.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.js.snapshot/aws-ecs-integ-ecs.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.js.snapshot/aws-ecs-integ-ecs.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-ec2-task.ts
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.js.snapshot/EcsFargateTestDefaultTestDeployAssert36341BFB.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.js.snapshot/aws-ecs-integ-fargate.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.js.snapshot/aws-ecs-integ-fargate.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-events-targets/test/ecs/integ.event-fargate-task.ts
  packages/aws-cdk-lib/aws-events-targets/README.md
  packages/aws-cdk-lib/aws-events-targets/lib/ecs-task-properties.ts
  packages/aws-cdk-lib/aws-events-targets/lib/ecs-task.ts
  packages/aws-cdk-lib/aws-events-targets/test/ecs/event-rule-target.test.ts
Due: none

fix(stepfunctions): support assign property and fix Catch state issue (#33423)
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/DistributedMapCatchDefaultTestDeployAssert25965E29.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/DistributedMapCatchDefaultTestDeployAssert25965E29.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/asset.bfcf4228d6660f50e81f19efdb64c6388dda6796296eb239decdff1dbc2f4981.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/aws-stepfunctions-map-with-catch.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/aws-stepfunctions-map-with-catch.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.ts
  packages/aws-cdk-lib/aws-efs/lib/efs-file-system.ts
  packages/aws-cdk-lib/aws-stepfunctions/lib/states/map-base.ts
  packages/aws-cdk-lib/aws-stepfunctions/lib/states/state.ts
  packages/aws-cdk-lib/aws-stepfunctions/lib/types.ts
  packages/aws-cdk-lib/aws-stepfunctions/test/map.test.ts
Due: none

update tests
  packages/@aws-cdk-testing/framework-integ/test/aws-stepfunctions/test/integ.map-with-catch.ts
Due: none

Update packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
  packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
Due: none

allowedFirstAuthFactors wrapped in signInPolicy
  packages/@aws-cdk-testing/framework-integ/test/aws-cognito/test/integ.user-pool-passwordless.ts
  packages/aws-cdk-lib/aws-cognito/README.md
  packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
  packages/aws-cdk-lib/aws-cognito/test/user-pool.test.ts
Due: none

update doc
  packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
Due: none

password is now mandatory to specify true
  packages/aws-cdk-lib/aws-cognito/lib/user-pool.ts
Due: none

docs(appsync): clarify the structure of apiKeys object
  packages/aws-cdk-lib/aws-appsync/lib/eventapi.ts
Due: none

remove `from` prefix per guideline
  packages/@aws-cdk-testing/framework-integ/test/aws-cloudfront/test/integ.cloudfront-vpc-origin.ts
  packages/aws-cdk-lib/aws-cloudfront-origins/lib/vpc-origin.ts
  packages/aws-cdk-lib/aws-cloudfront/lib/vpc-origin.ts
  packages/aws-cdk-lib/aws-cloudfront/test/vpc-origin.test.ts
Due: none

add The CloudFront managed prefix list
  packages/aws-cdk-lib/aws-cloudfront-origins/README.md
Due: none

fix tests
  packages/aws-cdk-lib/aws-cloudfront-origins/test/vpc-origin.test.ts
Due: none

fix example
  packages/aws-cdk-lib/aws-cloudfront-origins/README.md
Due: none

mid work
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
Due: none

chore(toolkit): tests don't exit
  packages/@aws-cdk/toolkit/test/actions/watch.test.ts
Due: none

undefined
  packages/@aws-cdk/toolkit/test/actions/watch.test.ts
Due: none

chore(cli-integ): restore sam test (#33425)
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
Due: none

adding both of options
  packages/aws-cdk-lib/core/README.md
  packages/aws-cdk-lib/core/lib/removal-policies.ts
  packages/aws-cdk-lib/core/test/aspect.test.ts
  packages/aws-cdk-lib/core/test/removal-policies.test.ts
Due: packages/aws-cdk-lib/core

chore(toolkit): tests don't exit (#33427)
  packages/@aws-cdk/toolkit/test/actions/watch.test.ts
Due: none

chore(toolkit): randomize tests
  packages/@aws-cdk/toolkit/jest.config.js
  packages/@aws-cdk/toolkit/test/actions/destroy.test.ts
  packages/@aws-cdk/toolkit/test/actions/rollback.test.ts
Due: none

fix(ecr-assets): fixes #33428
  packages/aws-cdk-lib/aws-ecr-assets/lib/tarball-asset.ts
Due: none

chore(toolkit): randomize tests (#33429)
  packages/@aws-cdk/toolkit/jest.config.js
  packages/@aws-cdk/toolkit/test/actions/destroy.test.ts
  packages/@aws-cdk/toolkit/test/actions/rollback.test.ts
Due: none

Path conditions:
  packages/aws-cdk: any of: packages/aws-cdk/**, but not: packages/aws-cdk/lib/cli.ts
  packages/aws-cdk-lib/core: any of: packages/aws-cdk-lib/core/**, but not: packages/aws-cdk/lib/cli.ts
