Repository aws/aws-cdk: changes, and which Codecov flags are due for each by the changed paths.
All: packages/aws-cdk, packages/aws-cdk-lib/core

codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#coverage
coverage:
  status:
    project:
      default:
        # require the overall project coverage to never decrease
        target: auto
    patch:
      default:
        # require the overall patch coverage to be at least 95%
        target: 95

# https://docs.codecov.com/docs/codecovyml-reference#comment
comment:
  layout: "header, diff, flags, components"

# https://docs.codecov.com/docs/codecovyml-reference#component_management
component_management:
  default_rules:
    statuses:
      # every component will produce its own status check that requires overall coverage doesnt decrease
      - type: project
        target: auto
      # every component will produce its own status check that requires patch coverage of at least 95%
      - type: patch
        target: 95
  individual_components:
    - component_id: packages_aws_cdk # identifier that should not be changed
      name: packages/aws-cdk # display name that can change freely
      paths:
        - packages/aws-cdk/**
    - component_id: packages_aws_cdk_lib_core # identifier that should not be changed
      name: packages/aws-cdk-lib/core # display name that can change freely
      paths:
        - packages/aws-cdk-lib/core/**

# https://docs.codecov.com/docs/ignoring-paths
ignore:
  - packages/aws-cdk/lib/cli.ts # we integ test this file

fix(rds): update secondsUntilAutoPause to use Duration.minutes for improved clarity and type consistency
  packages/@aws-cdk-testing/framework-integ/test/aws-rds/test/integ.cluster-serverless-v2-auto-pause.ts
Due: none

feat(synthetics): throw `ValidationError` instead of untyped errors (#33079)
  packages/aws-cdk-lib/.eslintrc.js
  packages/aws-cdk-lib/aws-synthetics/lib/canary.ts
  packages/aws-cdk-lib/aws-synthetics/lib/code.ts
  packages/aws-cdk-lib/aws-synthetics/lib/schedule.ts
Due: none

README draft
  packages/@aws-cdk/aws-ec2-alpha/README.md
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway-vpc-attachment.ts
  packages/@aws-cdk/aws-ec2-alpha/lib/transit-gateway.ts
  packages/@aws-cdk/aws-ec2-alpha/test/transit-gateway-vpc-attachment.test.ts
Due: none

feat(core): add include property specifying particular files for assets
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.ts
  packages/aws-cdk-lib/aws-lambda/README.md
  packages/aws-cdk-lib/core/lib/fs/copy.ts
  packages/aws-cdk-lib/core/lib/fs/fingerprint.ts
  packages/aws-cdk-lib/core/lib/fs/include.ts
  packages/aws-cdk-lib/core/lib/fs/options.ts
  packages/aws-cdk-lib/core/test/fs/fs-copy.test.ts
  packages/aws-cdk-lib/core/test/fs/fs-fingerprint.test.ts
  packages/aws-cdk-lib/core/test/fs/fs-include.test.ts
Due: packages/aws-cdk-lib/core

test name
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.ts
Due: none

snapshots
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/asset.9678c34eca93259d11f2d714177347afd66c50116e1e08996eff893d3ca81232/index.py
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/asset.b98abee59e034ed29eeb601684dc34752baa86509a7d457d72305d4e19ecc80b.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/cdk-integ-asset-include.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/cdk-integ-asset-include.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/cdkintegassetincludetestDefaultTestDeployAssert0C9B1431.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/cdkintegassetincludetestDefaultTestDeployAssert0C9B1431.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.ts
Due: none

chore(eks-v2): refactor kubectlProvider
  packages/@aws-cdk/aws-eks-v2-alpha/lib/cluster.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/fargate-cluster.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/fargate-profile.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/helm-chart.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/k8s-manifest.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/k8s-object-value.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/k8s-patch.ts
  packages/@aws-cdk/aws-eks-v2-alpha/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks-v2-alpha/package.json
  packages/@aws-cdk/aws-eks-v2-alpha/test/access-entry.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/alb-controller.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/cluster.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/fargate.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/k8s-manifest.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/k8s-object-value.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/k8s-patch.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/kubectl-provider.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/service-account.test.ts
  packages/@aws-cdk/aws-eks-v2-alpha/test/util.ts
Due: none

chore: bump cdk-assets
  packages/@aws-cdk/integ-runner/package.json
  packages/@aws-cdk/toolkit/package.json
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/aws-cdk/package.json
  yarn.lock
Due: packages/aws-cdk

linter
  packages/@aws-cdk-testing/cli-integ/lib/aws.ts
Due: none

Fixes
  packages/aws-cdk/lib/api/bootstrap/bootstrap-environment.ts
  packages/aws-cdk/lib/cli.ts
Due: packages/aws-cdk

refactor(cli): align cdk-assets imports
  packages/aws-cdk/lib/api/deployments.ts
  packages/aws-cdk/lib/util/asset-manifest-builder.ts
  packages/aws-cdk/lib/util/work-graph-builder.ts
  packages/aws-cdk/lib/util/work-graph-types.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Due: packages/aws-cdk

snapshots
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/assets-with-dummy/dummy-1.txt
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/assets-with-dummy/index.py
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/assets-with-dummy/subdir/examples/example.txt
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/assets-with-dummy/subdir/test.txt
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/asset.9678c34eca93259d11f2d714177347afd66c50116e1e08996eff893d3ca81232/index.py
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.asset-include.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/asset.b98abee59e034ed29eeb601684dc34752baa86509a7d457d72305d4e19ecc80b.bundle/index.js
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/asset.e8bc1c887150f05d7bca4700ae0946a729fc7eeffa191d6a6228b09c970ae3f9/index.py
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/asset.e8bc1c887150f05d7bca4700ae0946a729fc7eeffa191d6a6228b09c970ae3f9/subdir/test.txt
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdk-integ-assets-include.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdk-integ-assets-include.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdkintegassetsincludetestDefaultTestDeployAssert961B2CE5.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdkintegassetsincludetestDefaultTestDeployAssert961B2CE5.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.ts
Due: none

integ
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/asset.8d2081a7a7c436c82d7656363c3759e1fecbe411086e7fc048c56af1216c8420/index.py
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/asset.8d2081a7a7c436c82d7656363c3759e1fecbe411086e7fc048c56af1216c8420/subdir/test.txt
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdk-integ-assets-include.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdk-integ-assets-include.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdkintegassetsincludetestDefaultTestDeployAssert961B2CE5.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/cdkintegassetsincludetestDefaultTestDeployAssert961B2CE5.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.ts
Due: none

README
  packages/aws-cdk-lib/aws-lambda/README.md
Due: none

docs
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/integ.assets-include.ts
Due: none

change name
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda/test/assets-with-dummy/dummy.txt
Due: none

chore: add integ tests that validate full proxy traversal
  packages/@aws-cdk-testing/cli-integ/lib/package-sources/release-source.ts
  packages/@aws-cdk-testing/cli-integ/lib/package-sources/repo-source.ts
  packages/@aws-cdk-testing/cli-integ/lib/proxy.ts
  packages/@aws-cdk-testing/cli-integ/lib/with-cdk-app.ts
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/proxy.integtest.ts
  packages/@aws-cdk-testing/cli-integ/tsconfig.json
Due: none

feat(ses): configurationset support default event bus as destination
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.js.snapshot/ConfigurationSetIntegDefaultTestDeployAssert9B6AD46A.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.js.snapshot/cdk-ses-configuration-set-integ.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.js.snapshot/cdk-ses-configuration-set-integ.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-ses/test/integ.configuration-set.ts
  packages/aws-cdk-lib/aws-ses/README.md
  packages/aws-cdk-lib/aws-ses/lib/configuration-set-event-destination.ts
  packages/aws-cdk-lib/aws-ses/test/configuration-set-event-destination.test.ts
Due: none

refactor(cli): collate files to create new deployments api
  packages/aws-cdk/lib/api/bootstrap/bootstrap-environment.ts
  packages/aws-cdk/lib/api/bootstrap/deploy-bootstrap.ts
  packages/aws-cdk/lib/api/deployments/asset-manifest-builder.ts
  packages/aws-cdk/lib/api/deployments/asset-publishing.ts
  packages/aws-cdk/lib/api/deployments/assets.ts
  packages/aws-cdk/lib/api/deployments/checks.ts
  packages/aws-cdk/lib/api/deployments/cloudformation.ts
  packages/aws-cdk/lib/api/deployments/deploy-stack.ts
  packages/aws-cdk/lib/api/deployments/deployment-method.ts
  packages/aws-cdk/lib/api/deployments/deployment-result.ts
  packages/aws-cdk/lib/api/deployments/deployments.ts
  packages/aws-cdk/lib/api/deployments/hotswap-deployments.ts
  packages/aws-cdk/lib/api/deployments/index.ts
  packages/aws-cdk/lib/api/deployments/nested-stack-helpers.ts
  packages/aws-cdk/lib/api/evaluate-cloudformation-template.ts
  packages/aws-cdk/lib/api/index.ts
  packages/aws-cdk/lib/api/plugin/index.ts
  packages/aws-cdk/lib/api/toolkit-info.ts
  packages/aws-cdk/lib/api/util/template-body-parameter.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/commands/migrate.ts
  packages/aws-cdk/lib/diff.ts
  packages/aws-cdk/lib/import.ts
  packages/aws-cdk/lib/legacy-exports-source.ts
  packages/aws-cdk/lib/legacy-exports.ts
  packages/aws-cdk/lib/migrator.ts
  packages/aws-cdk/test/api/bootstrap2.test.ts
  packages/aws-cdk/test/api/deployments/checks.test.ts
  packages/aws-cdk/test/api/deployments/cloudformation-deployments.test.ts
  packages/aws-cdk/test/api/deployments/deploy-stack.test.ts
  packages/aws-cdk/test/api/deployments/hotswap-deployments.test.ts
  packages/aws-cdk/test/api/fake-cloudformation-stack.ts
  packages/aws-cdk/test/api/hotswap/hotswap-test-setup.ts
  packages/aws-cdk/test/assets.test.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
  packages/aws-cdk/test/diff.test.ts
  packages/aws-cdk/test/util/cloudformation.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
  packages/aws-cdk/test/util/mock-toolkitinfo.ts
Due: packages/aws-cdk

fixup mock paths
  packages/aws-cdk/lib/api/deployments/deploy-stack.ts
  packages/aws-cdk/test/api/bootstrap.test.ts
  packages/aws-cdk/test/api/deployments/assets.test.ts
  packages/aws-cdk/test/api/deployments/cloudformation-deployments.test.ts
  packages/aws-cdk/test/api/deployments/deploy-stack.test.ts
Due: packages/aws-cdk

localize config a bit more
  packages/aws-cdk/lib/commands/migrate.ts
  packages/aws-cdk/lib/config.ts
Due: packages/aws-cdk

refactor(cli): remove unused code
  packages/aws-cdk/lib/build.ts
  packages/aws-cdk/test/build.test.ts
Due: packages/aws-cdk

feat(lambda-event-sources): starting position timestamp for kafka
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.js.snapshot/LambdaEventSourceKafkaSelfManagedTestDefaultTestDeployAssertAF78BD0F.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.js.snapshot/lambda-event-source-kafka-self-managed.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.js.snapshot/lambda-event-source-kafka-self-managed.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-lambda-event-sources/test/integ.kafka-selfmanaged.ts
  packages/aws-cdk-lib/aws-lambda-event-sources/README.md
  packages/aws-cdk-lib/aws-lambda-event-sources/lib/kafka.ts
  packages/aws-cdk-lib/aws-lambda-event-sources/test/kafka.test.ts
Due: none

set pitr to undefined if not set
  packages/aws-cdk-lib/aws-dynamodb/lib/table-v2.ts
  packages/aws-cdk-lib/aws-dynamodb/lib/table.ts
Due: none

remove semicolon
  packages/@aws-cdk/toolkit/lib/actions/diff/index.ts
  packages/aws-cdk-lib/aws-s3/lib/bucket.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Due: packages/aws-cdk

chore: add integ test that validates full proxy traversal (#33092)
  packages/@aws-cdk-testing/cli-integ/lib/package-sources/release-source.ts
  packages/@aws-cdk-testing/cli-integ/lib/package-sources/repo-source.ts
  packages/@aws-cdk-testing/cli-integ/lib/proxy.ts
  packages/@aws-cdk-testing/cli-integ/lib/with-cdk-app.ts
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/cli.integtest.ts
  packages/@aws-cdk-testing/cli-integ/tests/cli-integ-tests/proxy.integtest.ts
  packages/@aws-cdk-testing/cli-integ/tsconfig.json
Due: none

refactor(cli): remove unused code (#33096)
  packages/aws-cdk/lib/build.ts
  packages/aws-cdk/test/build.test.ts
Due: packages/aws-cdk

pr feedback
  packages/@aws-cdk/toolkit/lib/actions/rollback/index.ts
  packages/@aws-cdk/toolkit/lib/toolkit/toolkit.ts
Due: none

fix(aws-apigatewayv2): incorrect arn function causing unwanted behavior in websocket iam auth
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/aws-cdk-aws-apigatewayv2.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/aws-cdk-aws-apigatewayv2.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/cdk.out
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/integ.json
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/manifest.json
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/tree.json
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/websocketapiDefaultTestDeployAssert230DE1C6.assets.json
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.js.snapshot/websocketapiDefaultTestDeployAssert230DE1C6.template.json
  packages/@aws-cdk-testing/framework-integ/test/aws-apigatewayv2/test/websocket/integ.api-grant-invoke.ts
  packages/aws-cdk-lib/aws-apigatewayv2/README.md
  packages/aws-cdk-lib/aws-apigatewayv2/lib/websocket/api.ts
  packages/aws-cdk-lib/aws-apigatewayv2/test/websocket/api.test.ts
  packages/aws-cdk-lib/cx-api/FEATURE_FLAGS.md
Due: none

ignore aws-cdk lints/
  packages/@aws-cdk/aws-iot-actions-alpha/test/https/https-action.test.ts
  packages/aws-cdk/.eslintrc.js
  packages/aws-cdk/lib/api/bootstrap/bootstrap-environment.ts
  packages/aws-cdk/lib/api/evaluate-cloudformation-template.ts
  packages/aws-cdk/lib/api/hotswap/appsync-mapping-templates.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/aws-cdk/test/api/hotswap/nested-stacks-hotswap.test.ts
Due: packages/aws-cdk

Update packages/aws-cdk/.eslintrc.js
  packages/aws-cdk/.eslintrc.js
Due: packages/aws-cdk
